
	 @media screen and (min-width:1301px){
    .products-info-tab{
      width: 33rem !important;
    }
    .secondProductsRow{
      width: 30rem !important;
      margin-left: 2.9rem !important;
    }
    .secondProductDiv{
      width: 8rem !important;
    }
  
    .secondProductDiv >a>img {
      width: 100%;
      height: 100px;
    }
    .otherProduct{
      margin-top: 1rem !important;
    }
    .other-products-tab{
      margin-top: -1rem !important;
    }
	}
  @media screen and (min-width:1025px) {
   
	  .changeImage{
		  margin-left: 2.7rem !important;
	  }
	  .changeImage > img{
		object-fit: cover !important;
		width: 24.5rem !important;
		height:19rem !important;
	  }
  }
 
  @media (min-width:1281px) and (max-width:1300px){
    .products-info-tab{
      width: 33rem !important;
    }
    .secondProductsRow{
      width: 30rem !important;
      margin-left: 2.9rem !important;
    }
    .secondProductDiv{
      width: 8rem !important;
    }
  
    .secondProductDiv >a>img {
      width: 100%;
      height: 100px !important;
    }
    .otherProduct{
      margin-top: 1rem !important;
    }
    .other-products-tab{
      margin-top: -1rem !important;
    }
	}
  @media (min-width:1025px) and (max-width:1280px){
    
    .products-info-tab{
      width: 33rem !important;
    }
    .secondProductsRow{
      width: 30rem !important;
      margin-left: 2.9rem !important;
    }
    .secondProductDiv{
      width: 8rem !important;
    }
  
    .secondProductDiv >a>img {
      width: 100%;
      height: 100px;
    }
    .otherProduct{
      margin-top: 1rem !important;
    }
    .other-products-tab{
      margin-top: -1rem !important;
    }
	}
  
  @media (min-width:768px) and (max-width:1024px){

   .product-main-thumb img {
    margin-top: 1px !important;
    margin-left: 9rem !important;
    object-fit: cover !important;
    width: 515px !important;
    height: 270px;
   }
   .secondProductsRow{
    width: 33rem !important;
    margin-left: 9.3rem !important;
  }
  .secondProductDiv{
    width: 10.5rem !important;
  }

  .secondProductDiv >a>img {
    width: 100%;
    height: 100px;
  }
 
  .product-action.stuck {
    margin-left: 5rem !important;
    width: 19.6rem !important;
   }
 
 
  	.product-details-desc {
      margin-left: 10rem !important;
    }
	.product-action.stuck {
    margin-left: 16.5rem !important;
    width: 19.6rem !important;
   }
   .otherProduct{
	   font-size: 18px !important;
	   margin-left: 31.5% !important;
   }
	}
  @media (min-width:481px) and (max-width:767px){


   .product-main-thumb img {
    margin-top: 1px !important;
    margin-left: 4.2rem !important;
    object-fit: cover !important;
    width: 415px !important;
    height: 270px;
   }
   .secondProductsRow{
    width: 26rem !important;
    margin-left: 4.3rem !important;
  }
  .secondProductDiv{
    width: 8.5rem !important;
  }

  .secondProductDiv >a>img {
    width: 100%;
    height: 100px;
  }
 
  .product-action.stuck {
    margin-left: 5rem !important;
    width: 19.6rem !important;
   }
   .otherProduct{
     font-size: 13px !important;
     margin-left: 15.5% !important;
   } 
   .other-products-tab{
     margin-top: -1rem !important;
   }
	.product-action.stuck {
    margin-left: 7.5rem !important;
    width: 19.6rem !important;
   }
   .otherProduct{
	   font-size: 18px !important;
	   margin-left: 21% !important;
   }
  }
  @media (min-width:401px) and (max-width:480px){
    .product-main-thumb img {
      margin-top: -4rem !important;
      margin-left: 3.3rem !important;
      object-fit: cover !important;
      width: 355px !important;
      height: 270px;
     }
     .secondProductsRow{
      width: 22rem !important;
      margin-left: 3.4rem !important;
    }
    .secondProductDiv{
      width: 7.3rem !important;
    }
  
    .secondProductDiv >a>img {
      width: 100%;
      height: 100px;
    }
   
    .product-action.stuck {
      margin-left: 5rem !important;
      width: 19.6rem !important;
     }
     .otherProduct{
       font-size: 13px !important;
       margin-left: 15.5% !important;
     } 
     .other-products-tab{
       margin-top: -1rem !important;
     }

	.product-action.stuck {
    margin-left: 4.8rem !important;
    width: 19.6rem !important;
   }
   .otherProduct{
	   font-size: 18px !important;
	   margin-left: 14.5% !important;
   } 
  }
  /* @media (min-width:381px) and (max-width:400px){
	  
	} */
  @media (min-width:361px) and (max-width:400px){

		.product-main-thumb img {
      margin-top: -4rem !important;
      margin-left: 3.3rem !important;
      object-fit: cover !important;
      width: 300px !important;
      height: 270px;
     }
     .secondProductsRow{
      width: 20rem !important;
      margin-left: 3.4rem !important;
    }
    .secondProductDiv{
      width: 6.2rem !important;
    }
  
    .secondProductDiv >a>img {
      width: 100%;
      height: 100px;
    }
   
    .product-action.stuck {
      margin-left: 3.3rem !important;
      width: 19.6rem !important;
     }
     .otherProduct{
       font-size: 13px !important;
       margin-left: 19% !important;
     } 
     .other-products-tab{
       margin-top: -1rem !important;
     }
	.product-action.stuck {
    margin-left: 2.8rem !important;
    width: 19.6rem !important;
   }
   .otherProduct{
	   font-size: 18px !important;
	   margin-left: 11% !important;
   }
  }
  @media (min-width:320px) and (max-width:360px) {
	.product-main-thumb img {
		margin-top: -4rem !important;
	  margin-left: 3rem !important;
    object-fit: cover !important;
    width: 300px !important;
    height: 270px;
   }
   .secondProductsRow{
    width: 20rem !important;
    margin-left: 3rem !important;
  }
  .secondProductDiv{
    width: 6.2rem !important;
  }

  .secondProductDiv >a>img {
		width: 100%;
		height: 100px;
	}
 
	.product-action.stuck {
    margin-left: 2.6rem !important;
    width: 19.6rem !important;
   }
   .otherProduct{
	   font-size: 13px !important;
	   margin-left: 19% !important;
   } 
   .other-products-tab{
     margin-top: -1rem !important;
   }
  }
