
	.badge-success, .btn-success {
		background-color: #6FB70F !important;
		border-color: #6FB70F !important;
	}
	
	.btn-success:hover,
	.btn-success:active,
	.btn-success:visited,
	.btn-success:focus {
		background-color: #6FB70F !important;
		border-color: #6FB70F !important;
	} 
	@media (min-width: 576px) and (max-width: 767px){
		.subscribe-text p {
			width: 29rem !important;
		}
	}
	@media (min-width: 481px) and (max-width: 575px){
		.subscribe-text p {
			width: 28rem !important;
		}
	}
	@media (min-width: 401px) and (max-width: 480px){
		.subscribe-text p {
			width: 23rem !important;
		}
	}
	@media (min-width: 381px) and (max-width:400px){
		.subscribe-text p {
			width: 22.5rem !important;
		}
	}
	@media (min-width: 361px) and (max-width:380px){
		.subscribe-text p {
			width: 20.5rem !important;
		}
	}
	@media (min-width: 320px) and (max-width: 360px){
		.subscribe-text p {
			width: 19.5rem !important;
		}
	}