
    .btn-success {
       background-color: #6FB70F !important;
       border-color: #6FB70F !important;
     }
     .btn-success:hover,
     .btn-success:active,
     .btn-success:visited,
     .btn-success:focus {
       background-color: #6FB70F !important;
       border-color: #6FB70F !important;
     }
 
   @media screen and (min-width: 1301px){
    .form-group > input{
      width: 22.5rem;
     }
     .form-group  .formEmail{
        margin-left: 4px;
      }
      .formMessage{
        width: 45rem;
      }
      .infoResponsive{
        margin-top: 5rem !important;
        margin-left: 4rem !important;
    }	
    .contactResponsive {
      margin-left: 4rem;
    }
   .contactResponsive > form{
        margin-top: 1px;
        margin-left: 1rem;
    }	
   .submitResponsive button{
     margin-left: 89.9% !important;
    }
   }
   @media (min-width:1281px) and (max-width: 1300px){
    .form-group > input{
         width: 21.5rem;
        }
        .form-group  .formEmail{
           margin-left: 4px;
         }
         .formMessage{
           width: 43rem;
         }
         .infoResponsive{
           margin-top: 5rem !important;
           margin-left: 4rem !important;
       }	
       .contactResponsive {
         margin-left: 4rem;
       }
      .contactResponsive > form{
           margin-top: 1px;
           margin-left: 1rem;
       }	
      .submitResponsive button{
        margin-left: 89.3% !important;
      }
   }
   @media (min-width: 1025px) and (max-width: 1280px){
    .form-group > input{
         width: 20rem;
        }
        .form-group  .formEmail{
           margin-left: 4px;
         }
      .formMessage{
        width: 40rem !important;
      }
      .infoResponsive{
           margin-top: 5rem !important;
           margin-left: 4rem !important;
       }	
       .contactResponsive {
         margin-left: 4rem;
       }
      .contactResponsive > form{
           margin-top: 1px;
           margin-left: 1rem;
       }	
       .submitResponsive button{
        margin-left: 88.5% !important;
      }
   }
   @media (min-width:768px) and (max-width:1024px){
      .form-group > input{
        width: 18rem;
      }
      .form-group  .formEmail{
          margin-left: 4px;
        }
    .formMessage{
      width: 40rem !important;
     }
    .infoResponsive{
          margin-top: 5rem !important;
          margin-left: 4rem !important;
      }	
      .contactResponsive {
        margin-left: 7rem;
      }
      .contactResponsive > form{
          margin-top: 1px;
          margin-left: -4rem;
      }	

      .contactResponsive > div > h3 > span {
        margin-left: -4rem !important;
      }
      .submitResponsive button{
        margin-left: 75.5% !important;
      }
   }
   @media (min-width:481px) and (max-width:767px){
      .form-group > input{
        margin-left: 1rem !important;
        width: 23rem !important;
      }
      .infoResponsive{
        margin-top: 5rem;
        margin-left: 3.5rem; 
        margin-right: 1rem;
      }	
      .formMessageDiv{
        width: 29rem !important;
      }
      .formMessage{
        max-width: 23rem !important;
        margin-left: 1rem !important;
      }
      .contactResponsive > form{
          width: 20.5rem;
      }	
      .submitResponsive > button {
        margin-left: 94% !important;
      } 
   }
   @media (min-width:401px) and (max-width:480px){
    .form-group > input{
           width: 21.5rem;
         }
 
      .infoResponsive{
        margin-top: 5rem;
        margin-left: 1rem; 
        margin-right: 1rem;
      }	
 
     .contactResponsive > form{
        margin-left: 1.5rem !important;
            width: 20.5rem;
       }	
       .submitResponsive > button {
        margin-left: 82% !important;
      } 
      .formMessageDiv{
        width: 22rem !important;
      }
      .formMessage{
        max-width: 21.5rem !important;
      }
   }
   @media (min-width:381px) and (max-width:400px){
    .form-group > input{
           width: 20.5rem;
         }
 
      .infoResponsive{
        margin-top: 5rem;
        margin-left: 1rem; 
        margin-right: 1rem;
      }	
 
     .contactResponsive > form{
            width: 20.5rem;
       }	
       .submitResponsive > button {
        margin-left: 82% !important;
      }
      .formMessageDiv{
        width: 22rem !important;
      } 
      .formMessage{
        max-width: 23rem !important;
        margin-left: 1rem !important;
      }
   }
   @media (min-width:361px) and (max-width:380px){
    .form-group > input{
           width: 20.5rem;
         }
 
      .infoResponsive{
        margin-top: 5rem;
        margin-left: 1rem; 
        margin-right: 1rem;
      }	
 
     .contactResponsive > form{
       margin-left: 0.5rem !important;  
        width: 20.5rem;
      }	
       .submitResponsive > button {
        margin-left: 76% !important;
      } 
      .formMessage{
        max-width: 23rem !important;
      }
   }
   @media (min-width:320px) and (max-width:360px){
    .form-group > input{
           width: 20.5rem;
         }
 
      .infoResponsive{
        margin-top: 5rem;
        margin-left: 1rem; 
        margin-right: 1rem;
      }	
 
     .contactResponsive > form{
            width: 20.5rem;
       }	
       .submitResponsive > button {
        margin-left: 75% !important;
      } 
      .formMessage{
        max-width: 23rem !important;
      }
   }
     
 