
.btn-success {
background-color: #6FB70F !important;
border-color: #6FB70F !important;
}
.btn-success:hover,
.btn-success:active,
.btn-success:visited,
.btn-success:focus {
background-color: #6FB70F !important;
border-color: #6FB70F !important;
}  
  /* 1327:Large -26px*/
@media screen and (min-width: 1301px) {
  .shopCategoryHead{
    margin-top: 5rem !important;
  }
  .initialPrice{
    margin-top: -0.7rem !important;
    display: flex;
  }
  .product-single{
     width: 12.6rem !important; 
     height: 18rem !important;
     max-width: 120% !important;
  } 
  .product-thumb a img {
      width:100%;
       height:192px;
  }

  .shopContainer > .product-single{ 
    height: 16.8rem !important;
 } 
 .groupSaleContainer> .product-single{
  height: 17.5rem !important;
}
 
  .initialPrice{
    margin-top: -0.7rem !important;
    display: flex;
  }
  .product-thumb-groupSale a img {
      width:100%;
       height:192px;
  }
}
    /* Medium My screen*/
@media screen and (min-width: 1281px) and (max-width:1300px){
  .shopCategoryHead{
    margin-top: 5rem !important;
  }
  .initialPrice{
    margin-top: -0.7rem !important;
    display: flex;
  }
  .product-single{
     width: 12.6rem !important; 
     height: 18rem !important;
     max-width: 120% !important;
  } 
  .product-thumb a img {
      width:100%;
       height:192px;
  }

  .shopContainer > .product-single{ 
    height: 16.8rem !important;
 } 
 .groupSaleContainer> .product-single{
  height: 17.5rem !important;
}
 
  .initialPrice{
    margin-top: -0.7rem !important;
    display: flex;
  }
  .product-thumb-groupSale a img {
      width:100%;
       height:192px;
  }
}

      /*1265: Small Medium screen -240px:*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .shopCategoryHead{
    margin-top: 5rem !important;
  }
  .initialPrice{
    margin-top: -0.7rem !important;
    display: flex;
  }
  .likeShareService{
    margin-top: -0.2rem !important;
  }
  .product-single {
    width: 12.7rem !important;
    height: 16rem !important;
    max-width: 120% !important; 
  }
  .groupSaleContainer{
    width: 13rem !important;
  }
  .shopContainer > .product-single{ 
    height: 16rem !important;
 } 
 .product-thumb-shop a img{
  height:177px !important;
}
 .product-thumb a img {
     width:100%;
      height:161px;
 }
 .product-thumb-store a img{
   height: 195px !important;
 }
  .product-thumb-groupSale a img {
      width:100% !important;
       height:180px !important;
  }
  .groupSaleContainer > .product-single{ 
    height: 17rem !important;
    } 
}
    /* 789:Tablet -21px*/
@media (min-width:768px) and (max-width:1024px){
  .shopCategoryHead{
    margin-top: 5rem !important;
  }
 .likeShareService{
   margin-top: -0.2rem !important;
 }
.product-single {
  width: 16.1rem !important;
  height: 19.5rem !important;
  max-width: 120% !important;
}
.groupSaleContainer{
  width: 16.1rem !important;
}
.initialPrice{
  margin-top: -0.7rem !important;
  display: flex;
}


 .product-thumb-shop a img{
  height:237px !important;
}
 .product-thumb a img {
     width:100%;
      height:220px;
 }
 .product-thumb-store a img{
   height: 255px !important;
 }
  .product-thumb-groupSale a img {
      width:100%;
       height:225px;
  }
}
 /*515px  -34px*/
@media (min-width:481px) and (max-width:767px) {
  .shopCategoryHead{
    margin-top: 0rem !important;
  }
  .cv-visible .slick-list {
    padding-bottom: 137px !important;
    z-index: 2;
  }
  .initialPrice{
    margin-top: -0.7rem !important;
    display: flex;
  }
    .shareH {
        margin-left: 10% !important;
    }
    .shareS a i{
        margin-left: 10px !important;
    }

  .product-single {
    width: 15.7rem !important;
    height: 290px !important;
    max-width: 120% !important;
  }
  .product-thumb > a > img {
        width:100% !important; 
        height: 12.3rem !important;
    }
    .product-thumb-shop a img{
      height:220px !important;
    }
    .product-thumb-groupSale > a > img {
      width: 100% !important;
      height: 212px !important;
    }
  
  .shopContainer{
    height: 16.2rem !important;
  }
  .shopContainer > .product-single{ 
    height: 290px !important;
 } 
  .storeContainer{
    height: 16.2rem !important;
  }
  .storeContainer > .product-single{ 
    height: 290px !important;
 } 
  .serviceContainer{
    height: 16.2rem !important;
  }
    .groupSaleContainer{
      width: 15.7rem !important;
      height: 290px !important;
      max-width: 120% !important;
  }
  .groupSaleContainer > .product-single{ 
    height: 290px !important;
    
 } 
  .product-thumb-store > a > img{
        height: 230px !important;
    }
   
  
  .product-title h4{
    width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 15px !important;
  white-space: nowrap;
  }
    .specialityLi{
      width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
  
}
@media (min-width:401px) and (max-width:480px){
  .shopCategoryHead{
    margin-top: -4rem !important;
  }
  .cv-visible .slick-list {
    padding-bottom: 130px !important;
    z-index: 2;
}
  .initialPrice{
    margin-top: -0.7rem !important;
    display: flex;
  }
    .shareH {
        margin-left: 10% !important;
    }
    .shareS a i{
        margin-left: 10px !important;
    }

  .product-single {
    width: 13rem !important;
    height: 245px !important;
    max-width: 120% !important;
  }
  .product-thumb > a > img {
        width:100% !important; 
        height: 9.5rem !important;
    }
    .product-thumb-shop a img{
      height:173px !important;
    }
    .product-thumb-groupSale > a > img {
      width: 100% !important;
      height: 192px !important;
    }
  
  .shopContainer{
    height: 16.2rem !important;
  }
  .shopContainer > .product-single{ 
    height: 245px !important;
 } 
  .storeContainer{
    height: 16.2rem !important;
  }
  .storeContainer > .product-single{ 
    height: 245px !important;
 } 
  .serviceContainer{
    height: 16.2rem !important;
  }
    .groupSaleContainer{
    width: 13rem !important;
    height: 245px !important;
    max-width: 120% !important;
  }
  .groupSaleContainer > .product-single{ 
    height: 270px !important;
 } 
  .product-thumb-store > a > img{
        height: 192px !important;
    }
   
  
  .product-title h4{
    width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 15px !important;
  white-space: nowrap;
  }
    .specialityLi{
      width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
}
@media(min-width: 381px) and (max-width: 400px){
  .shopCategoryHead{
    margin-top: -3rem !important;
  }
  .initialPrice{
    margin-top: -0.7rem !important;
    display: flex;
  }
    .shareH {
        margin-left: 10% !important;
    }
    .shareS a i{
        margin-left: 10px !important;
    }

  .product-single {
    width: 11.5rem !important;
    height: 218px !important;
    max-width: 120% !important;
  }
  .product-thumb > a > img {
        width:100% !important; 
        height: 8rem !important;
    }
    .product-thumb-shop a img{
      height:156px !important;
    }
     
    .product-thumb-groupSale > a > img {
        width:100% !important; 
        height: 8rem !important;
    }
  .shopContainer{
    height: 16.2rem !important;
  }
  .shopContainer > .product-single{ 
    height: 14rem !important;
 } 
  .storeContainer{
    height: 16.2rem !important;
  }
  .storeContainer > .product-single{ 
    height: 14.2rem !important;
 } 
  .serviceContainer{
    height: 16.2rem !important;
  }
    .groupSaleContainer{
    width: 11rem !important;
    height: 16rem !important;  
  }
  .groupSaleContainer > .product-single{ 
    height: 14rem !important;
 } 
  .product-thumb-store > a > img{
        height: 176px !important;
    }
    .product-thumb-groupSale > a > img {
      width: 100% !important;
      height: 9rem !important;
    }
  .product-title h4{
    width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 15px !important;
  white-space: nowrap;
  }
    .specialityLi{
      width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
}
@media (min-width:361px) and (max-width: 380px){
  .shopCategoryHead{
    margin-top: -3rem !important;
  }
  .initialPrice{
    margin-top: -0.7rem !important;
    display: flex;
  }
    .shareH {
        margin-left: 10% !important;
    }
    .shareS a i{
        margin-left: 10px !important;
    }

  .product-single {
    width: 11.5rem !important;
    height: 218px !important;
    max-width: 120% !important;
  }
  .product-thumb > a > img {
        width:100% !important; 
        height: 8rem !important;
    }
    .product-thumb-shop a img{
      height:156px !important;
    }
     
    .product-thumb-groupSale > a > img {
        width:100% !important; 
        height: 8rem !important;
    }
  .shopContainer{
    height: 16.2rem !important;
  }
  .shopContainer > .product-single{ 
    height: 14rem !important;
 } 
  .storeContainer{
    height: 16.2rem !important;
  }
  .storeContainer > .product-single{ 
    height: 14.2rem !important;
 } 
  .serviceContainer{
    height: 16.2rem !important;
  }
    .groupSaleContainer{
    width: 11rem !important;
    height: 16rem !important;  
  }
  .groupSaleContainer > .product-single{ 
    height: 14rem !important;
 } 
  .product-thumb-store > a > img{
        height: 176px !important;
    }
    .product-thumb-groupSale > a > img {
      width: 100% !important;
      height: 9rem !important;
    }
  .product-title h4{
    width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 15px !important;
  white-space: nowrap;
  }
    .specialityLi{
      width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
}

@media (min-width:320px) and (max-width:360px){
  .shopCategoryHead{
    margin-top: 4rem !important;
  }
 .cv-visible .slick-list {
    padding-bottom: 0px !important;
    z-index: 2;
} 
 /* .cv-visible.slick-dotted.slick-slider {
  margin-bottom: -4px;
}  */
  .initialPrice{
    margin-top: -0.7rem !important;
    display: flex;
  }
    .shareH {
        margin-left: 10% !important;
    }
    .shareS a i{
        margin-left: 10px !important;
    }
  /* .product-single{
    height: 218px !important;
    width: 10.9rem !important;
  }   */
  .product-single {
    width: 10.9rem !important;
    height: 218px !important;
    max-width: 120% !important;
  }
  .product-thumb > a > img {
        width:100% !important; 
        height: 8rem !important;
    }
    .product-thumb-shop a img{
      height:156px !important;
    }
     
    .product-thumb-groupSale > a > img {
        width:100% !important; 
        height: 8rem !important;
    }
  .shopContainer{
    height: 16.2rem !important;
  }
  .shopContainer > .product-single{ 
    height: 14rem !important;
 } 
  .storeContainer{
    height: 16.2rem !important;
  }
  .storeContainer > .product-single{ 
    height: 14.2rem !important;
 } 
  .serviceContainer{
    height: 16.2rem !important;
  }
    .groupSaleContainer{
    width: 11rem !important;
    height: 16rem !important;  
  }
  .groupSaleContainer > .product-single{ 
    height: 14rem !important;
 } 
  .product-thumb-store > a > img{
        height: 176px !important;
    }
    .product-thumb-groupSale > a > img {
      width: 100% !important;
      height: 9rem !important;
    }
  .product-title h4{
    width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 15px !important;
  white-space: nowrap;
  }
    .specialityLi{
      width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
}

  
.pull-left > span{
  margin-left: 5px !important;
}
.pull-left > del {
  margin-left: 5px !important;
}