.btn-success {
    background-color: #6FB70F !important;
    border-color: #6FB70F !important;
  }
 .btn-success:hover,
  .btn-success:active,
  .btn-success:visited,
  .btn-success:focus {
    background-color: #6FB70F !important;
    border-color: #6FB70F !important;
  }
  .companyLogo{
	/* border-width: 3px;  */
	height:9rem;
	margin-top:2rem;
	/* border-radius: 13px; */
	border-color: #6FB70F;
  }
  .companyLogo > a > img{
	height:8rem;
	padding-top: 10px; 
	padding-left: 10px;
  }
  @media screen and (min-width:1281px) { 

	.categoryRow{
		margin-left: -2.6rem !important;
	}
	.companyLogo{
	 margin-left: 2rem; 
	 width: 23% !important;
	}
	.companyLogo > a > img{
		width:26%; 
	}
	.cat-catalog{
		 margin-left: 1.5rem !important;
	 }
	 .cat-booking{
		margin-left: 1.1rem !important;
	 }
	 .cat-locate{
		margin-left: 1.2rem !important;
	 }
	 .cat-contact{
		margin-left: 1.8rem !important;
	 }
	 .cat-agenda{
		margin-left: 2rem !important;
	 }
	 .geolocateImgFront{
		max-height: 400px !important; max-width: 580px !important;
		object-fit:fill;
	   }
	  
  }
    @media (min-width:1025px) and (max-width:1280px) { 
		.specialityDiv{
		 margin-top: 4rem !important;
		 margin-left: 2% !important;
	 }
	.companyLogo {
		margin-top: 4rem !important;
		width: 23% !important;
	   margin-left: 3rem !important;
	 }
	 .companyLogo > a > img{
		width:26%; 
	}
	  .catalogPictureDiv{
		 margin-left: 4rem !important;
	 } 
	 .catalogList{
		 margin-top: -1.1rem !important;
		 margin-left: -2rem !important;
	 }
	
	 .main-category{
		 margin-left: -22px !important;
	 }	 
	 .categoryCatalog{
		 margin-top: .5rem !important;
	 }
	 .categoryBooking{
		 margin-top: 1rem !important;
	 }
	 .cat-catalog{
		 margin-left: 1.5rem !important;
	 }
	 .cat-booking{
		margin-left: 1.1rem !important;
	 }
	 .cat-locate{
		margin-left: 1.2rem !important;
	 }
	 .cat-contact{
		margin-left: 1.8rem !important;
	 }
	 .cat-agenda{
		margin-left: 2rem !important;
	 }
	 .geolocateImgFront{
		max-height: 400px !important; max-width: 580px !important;
		object-fit:fill;
	   }
  }
 @media (min-width: 768px) and (max-width:1024px) {
     .bookingForm{
		 margin-top: 2rem !important;
         margin-left: -3rem !important;
     }
	 .specialityDiv{
		 margin-left: 2% !important;
	 }
	.companyLogo {
	   width:40% !important;
	   margin-left: 3rem !important;
	 }
	 .companyLogo > a > img{
		width:26%; 
	 }
	  .catalogPictureDiv{
		 margin-left: 4rem !important;
	 } 
	 .catalogList{
		 margin-top: -1.1rem !important;
		 margin-left: -2rem !important;
	 }
	
	 .main-category{
		 margin-left: -22px !important;
	 }	 
	 .categoryCatalog{
		 margin-top: .5rem !important;
	 }
	 .categoryBooking{
		 margin-top: 1rem !important;
	 }
	 .cat-catalog{
		 margin-left: 1.5rem !important;
	 }
	 .cat-booking{
		margin-left: 1.1rem !important;
	 }
	 .cat-locate{
		margin-left: 1.2rem !important;
	 }
	 .cat-contact{
		margin-left: 1.8rem !important;
	 }
	 .cat-agenda{
		margin-left: 2rem !important;
	 }
	 .geolocateContainer {
		 left: 0rem !important;
	 }
 }
 @media (min-width:481px) and (max-width:767px) {
	.companyLogo {
		width:60% !important;
	   margin-left: 3rem !important;
	 }
	 .companyLogo > a > img{
		width:26%; 
	 }
	 .bookingForm{
		margin-top: 2rem !important;
	}
	 .cat-catalog{
		margin-left: 1.5rem !important;
	}
	.cat-booking{
	   margin-left: 1.1rem !important;
	}
	.cat-locate{
	   margin-left: 1.2rem !important;
	}
	.cat-contact{
	   margin-left: 1.8rem !important;
	}
	.cat-agenda{
	   margin-left: 2rem !important;
	}
	.geolocateContainer {
		left: -2rem !important;
	}
 }
 @media (min-width: 401px) and (max-width:480px) {
 	 .companyLogo {
	   width:78% !important;
	   margin-left: 3rem !important;
	 }
	 .companyLogo > a > img{
		width:26%; 
	 }
	 .bookingForm{
		margin-top: 2rem !important;
	}
	.cat-catalog{
		margin-left: 1.5rem !important;
	}
	.cat-booking{
	   margin-left: 1.1rem !important;
	}
	.cat-locate{
	   margin-left: 1.2rem !important;
	}
	.cat-contact{
	   margin-left: 1.8rem !important;
	}
	.cat-agenda{
	   margin-left: 2rem !important;
	}
	.geolocateContainer {
		left: -2rem !important;
	}
  } 
  @media (min-width: 381px) and (max-width:400px) {
	.companyLogo {
	 width:78% !important;
	 margin-left: 3rem !important;
   }
   .companyLogo > a > img{
	  width:33%; 
   } 
   .bookingForm{
	margin-top: 2rem !important;
  }
  .cat-catalog{
	margin-left: 1.5rem !important;
	}
	.cat-booking{
	margin-left: 1.1rem !important;
	}
	.cat-locate{
	margin-left: 1.2rem !important;
	}
	.cat-contact{
	margin-left: 1.8rem !important;
	}
	.cat-agenda{
	margin-left: 2rem !important;
	}
	.geolocateContainer {
		left: -2rem !important;
	}
 }
 @media (min-width: 361px) and (max-width:380px) {
	.companyLogo {
	 width:76% !important;
	 margin-left: 3rem !important;
   }
   .companyLogo > a > img{
	  width:26%; 
   }
   .bookingForm{
	margin-top: 2rem !important;
  }
	.cat-catalog{
		margin-left: 1.5rem !important;
	}
	.cat-booking{
	margin-left: 1.1rem !important;
	}
	.cat-locate{
	margin-left: 1.2rem !important;
	}
	.cat-contact{
	margin-left: 1.8rem !important;
	}
	.cat-agenda{
	margin-left: 2rem !important;
	}
	.geolocateContainer {
		left: -2rem !important;
	}
}
@media (min-width: 320px) and (max-width:360px) {
	.companyLogo {
	 width:76% !important;
	 margin-left: 3rem !important;
   }
   .companyLogo > a > img{
	  width:32%; 
   } 
   .bookingForm{
	margin-top: 2rem !important;
  } 
  .cat-catalog{
	margin-left: 1.5rem !important;
  }
	.cat-booking{
	margin-left: 1.1rem !important;
	}
	.cat-locate{
	margin-left: 1.2rem !important;
	}
	.cat-contact{
	margin-left: 1.8rem !important;
	}
	.cat-agenda{
	margin-left: 2rem !important;
	}
	.geolocateContainer {
		left: -2rem !important;
	}
}   
  .companyServiceDiv{
	  margin-top: 3rem !important;
  }
  .companyLogo > a > img {
   object-fit: contain !important;
  }