<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/headerDashboard :: common-header" />

<body>
	<div th:replace="common/headerDashboard :: navbar"></div>
       	<div class="container">
		  <div class="row">
			<form class="form-horizontal" th:action="@{/catalog/add}" method="post"
				enctype="multipart/form-data">
 				    <div class="alert alert-danger text-black" role="alert">
					   Ajouter un catalogue
					    <span style="font-size: small"> * Champ obligatoire</span>
					</div>	 		
		
					<div class="form-group">
 						<label class="col-md-2 control-label" for="name">*
 							Nom</label>
						<div class="col-md-6">
							<input
							   type="text" name="name" required="required"
								class="form-control" id="name" placeholder="Precisier le nom" />
						
							<span class="help-block">Nom</span>
						</div>
					</div>
				   <div class="form-group">
 						<label class="col-md-2 control-label" for="name">*
 							Prix</label>
						<div class="col-md-6">
							<input
							   type="number" name="price" required="required"
								class="form-control" id="price" placeholder="Precisier le prix" />
						
							<span class="help-block">Prix</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label">* Détails</label>
						<div class="col-md-6">
							<textarea
							rows="3" name="detail" 
								class="form-control" id="twitter" placeholder="Precisier les détails" ></textarea>
							<span class="help-block">Détails</span>
						</div>
					</div>
				       	<!-- upload Photo -->
				      <div class="form-group">
						 <label class="col-md-2 control-label">*Photo</label>
                         <div class="col-md-6">
                           <p>
                               <img alt="Visualiser la photo" id="thumbnail0"/>
                            </p>
                            <div class="col-xs-3">
                                <input type="file" 
                                   name="extraImageFile" required="required" accept="image/png, image/jpeg" /> 
                            </div>
                          </div>
				      </div>
				    
					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<button type="submit" class="btn btn-success">Valider</button>
 						</div>
					</div>
 			</form>
		</div>
	</div>
	<div th:replace="common/headerDashboard :: body-bottom-scripts"></div>
		<script type="text/javascript">
		$(document).ready(function() {
			
			$("input[name='extraImageFile']").each(function(index){
				$(this).change(function(){
					showExtraImageThumbnail(this,index);
				});
			});	
			function showExtraImageThumbnail(fileInput,index){
				file = fileInput.files[0];
				reader = new FileReader();
				
				reader.onload = function(e){
					$('#thumbnail'+index).attr('src',e.target.result);
				}
				reader.readAsDataURL(file);
			}
			
		})
	</script>
</body>
</html>
