<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="include/head"></head>
<link rel="stylesheet" th:href="@{/assets/css/styleNavbar.css}">
<link rel="stylesheet" th:href="@{/assets/css/styleFooter.css}">
<link rel="stylesheet" th:href="@{/assets/css/styleWelcome.css}">
<link rel="stylesheet" th:href="@{/assets/css/styleSearch.css}">
<body style="background-color: #e8e8e8;">	
    <!--header-->
   <div th:replace="include/navbar"></div>
   <!-- <div th:replace="include/headerMenu"></div> -->

	<div class="row" style="margin-top: 2rem;">
		<div class="col-xs-12" >
			<div class="product-main-thumb changeImage">
				<img
				class="img-responsive"   id="image1"
				  th:src="@{${awsBucketGroupSale}+${product.galery.id}+'/'+${product.galery.image1}}" alt=""  
			  />
			</div>
		
	  	    <div class="row secondProductsRow" style="margin-left: 2.5rem; margin-top: 5px;">
			  <div class="col-xs-12 secondProductDiv">
				<a href="#">
					<img
					class="img-responsive"  style="object-fit: cover;"
					  th:src="@{${awsBucketGroupSale}+${product.galery.id}+'/'+${product.galery.image2}}" alt=""  
					  onClick="changeImage(this)"
				  />
				  </a>
			  </div>
			  <div class="col-xs-12 secondProductDiv">
				<a href="#">
					<img
					class="img-responsive"  style="object-fit: cover;"
					  th:src="@{${awsBucketGroupSale}+${product.galery.id}+'/'+${product.galery.image3}}" alt=""  
					  onClick="changeImage(this)"
				  />
				  </a>
			  </div>
			  <div class="col-xs-12 secondProductDiv">
				<a href="#">
					<img
					class="img-responsive"  style="object-fit: cover;"
					  th:src="@{${awsBucketGroupSale}+${product.galery.id}+'/'+${product.galery.image4}}" alt=""  
					  onClick="changeImage(this)"
				  />
				  </a>
			  </div>
		
		  </div>
		</div>
		<div class="col-xs-12 products-info-tab" style="width: 37.8rem;">
			<div class="product-details-desc" style="text-align: center;">
				<h2 th:text="${product.name}"></h2>
				 <ul th:text="${product.detail}">
					<li></li>
				 </ul>
				 <div class="product-meta">
					 <ul class="list-none">
						<li th:if="${product.category.name=='groupSale'}">Catégorie:
							 <a href="#" style="color:  #6FB70F ;">Vente groupée</a>
						</li>
					</ul>
					
				 </div> 
	
				 <div class="social-icons style-5" style="cursor: pointer;">
				   <span>Compagnie:</span>
					   <span>
					   <img
						  th:src="@{${awsBucketIcon}+'logo.png'}" style="object-fit: cover;"
						width="30%;" alt=""  onClick="companyImage(this)">
				   </span>                                        
				 </div> 
			 </div>
		</div>
		<div class="col-xs-12" style="width: 14rem; ">
			<div class="product-action stuck text-center">
				<div class="home-delivery">
					<a  onClick="bookNow()" style="cursor: pointer;"><i class="ti-truck"></i> Livraison à domicile</a>
				</div>
				<div class="product-price-rating">
					 <div>
						<del th:text="${product.upPrice}"> </del>
					</div> 
					<span th:text="${product.price}"> </span>
				</div>
				<div class="product-colors mt-20">
					<label>	Quantité disponible:</label>
					<span th:text="${product.quantity}"></span>
					
				</div>
				 <div class="product-quantity mt-15">
					<label>Livraison:</label>
					<span th:text="${product.deliveryPrice}"></span>
				</div> 
				<div class="add-to-get mt-2">
					<a th:href="@{/booking/add/}+${product.id}" style="cursor: pointer;"  class="btn btn-success">
					   <span style="color: white;">
						  <i class="fa fa-shopping-cart" 
						   ></i>
							Acheter maintenant										    
					   </span>
					 </a>
				</div>
			</div>
		</div>
	</div>
    <div class="row">
		<h3 class="otherProduct" style="text-align: center; margin-left: 32%;">Vous pouvez aussi aimer ces produits</h3>
	</div>

	<!---->
	<!--GroupSale-->
	<div class="products-tab-area mt-45 mt-sm-45 other-products-tab">
		<div class="container-fluid">
			<!-- <div class="row">
				<div class="col-lg-3 col-md-3 pr-0">
					<div class="section-title section-title-groupSale">
						<h2 class="category">Achat groupé </h2>
					</div>
				</div>
			</div> -->
			<div th:if="${productExist==true}" class="tab-content">
				<div id="groupSale" class="tab-pane fade in show active">
					<div class="row product-carousel cv-visible">
						<div class="col-lg-12 groupSaleContainer" data-th-each="product : ${productList}">
							<div th:if="${product.galery !=null  and product.galery.image1 !='' and product.galery.image2 !='' and product.galery.image3 !='' and product.galery.image4 !=''}"	
							class="product-single product-single-groupSale" style="background-color: white;
							 
							  
							">
								<div class="product-title">	
									<h4 style="font-size: 12px; text-align: center;" th:text="${#strings.abbreviate(product.name,25)}"></h4>                                                                   
									<h4 style="text-align: center;">  <span th:text="${product.currentBooking}"></span>      
									 <span>/10 réservations</span></h4>
								</div>
								<div 
								
								   class="product-thumb-groupSale">
									<a href="#">									
									   <img 
									 
											class="img-responsive" style="object-fit: cover;"
th:src="@{${awsBucketGroupSale}+${product.galery.id}+'/'+${product.galery.image1}}" alt=""  
												   th:data-id             = "${product.id}"
												   th:data-name           = "${product.name}"
												   th:data-detail         = "${product.detail}"
												   th:data-quantity       = "${product.quantity}"												       
												   th:data-price          = "${product.price}"
												   th:data-category       = "${product.category.name}"
												   th:data-currentbooking = "${product.currentBooking}"
												   th:data-closeddate     = "${product.closedDate}"
												   th:data-deliveryprice = "${product.deliveryPrice}"												    
												   th:data-image1="@{${awsBucketGroupSale}+${product.galery.id}+'/'+${product.galery.image1}}" 
												   th:data-image2="@{${awsBucketGroupSale}+${product.galery.id}+'/'+${product.galery.image2}}" 
												   th:data-image3="@{${awsBucketGroupSale}+${product.galery.id}+'/'+${product.galery.image3}}" 
												   th:data-image4="@{${awsBucketGroupSale}+${product.galery.id}+'/'+${product.galery.image4}}"
												   data-toggle="modal" data-target="#quickViewModalAttoly"
											/> 
									 </a>
										<div class="downsale"><span th:text="${product.downsale}"></span></div>
											<div class="product-quick-view">
												<a href="javascript:void(0);"
												   th:data-id           = "${product.id}"
												   th:data-name        = "${product.name}"
												   th:data-detail      = "${product.detail}"
												   th:data-quantity    = "${product.quantity}"												       												   
												   th:data-price       = "${product.price}"
												   th:data-category    = "${product.category.name}"
												   th:data-currentbooking = "${product.currentBooking}"
												   th:data-closeddate     = "${product.closedDate}"
												   th:data-deliveryprice = "${product.deliveryPrice}"							
												   th:data-image1="@{${awsBucketGroupSale}+${product.galery.id}+'/'+${product.galery.image1}}" 
												   th:data-image2="@{${awsBucketGroupSale}+${product.galery.id}+'/'+${product.galery.image2}}" 
												   th:data-image3="@{${awsBucketGroupSale}+${product.galery.id}+'/'+${product.galery.image3}}" 
												   th:data-image4="@{${awsBucketGroupSale}+${product.galery.id}+'/'+${product.galery.image4}}"
												 
												   data-toggle="modal" data-target="#quickViewModalAttoly">Commander</a>
											</div>
								</div>
								<div class="product-price-rating">
									<div class="pull-left">
										<span th:text="${product.price}+' XOF'"></span>
									</div>
								</div>
								
							<!-- 	
								<div class="product-action">
									<a href="javascript:void(0);" class="product-compare"><i class="ti-control-shuffle"></i></a>
									<a href="javascript:void(0);" class="add-to-cart">Ajouter</a>
									<a href="javascript:void(0);" class="product-wishlist"><i class="ti-heart"></i></a>
								</div> -->
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
<!-- 		Group Sale
--> 
	<!-- JS  -->
		<!--footer-area start-->
		<footer th:replace="include/footer"></footer>

	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

		<script th:src="@{/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
	 <!-- jquery-3.3.1 version -->
	 <script th:src="@{/assets/js/vendor/jquery-3.2.1.min.js}"></script>
	 <!-- bootstra.min js -->
	 <script th:src="@{/assets/js/bootstrap.min.js}"></script>
	 <!-- mmenu js -->
	 <script th:src="@{/assets/js/jquery.mmenu.js}"></script>
	 <!-- easing js -->
	 <script th:src="@{/assets/js/jquery.easing.min.js}"></script>
	 <!---slick-js-->
	 <script th:src="@{/assets/js/slick.min.js}"></script>
	 <!---letteranimation-js-->
	 <script th:src="@{/assets/js/letteranimation.min.js}"></script>
	 <!-- jquery-ui js -->
	 <script th:src="@{/assets/js/jquery-ui.min.js}"></script>
	 <!-- jquery.countdown js -->
	 <script th:src="@{/assets/js/jquery.countdown.min.js}"></script>
	 <!-- venobox js -->
	 <script th:src="@{/assets/js/venobox.min.js}"></script>
	 <!-- plugins js -->
	 <script th:src="@{/assets/js/plugins.js}"></script>
	 <!-- main js -->
	 <script th:src="@{/assets/js/main.js}"></script>	
	 <script th:src="@{/js/mainFrontScript.js}"></script>
		 
	<!-- <script type="text/javascript">
		$(document).ready(function(){
			 $('#myLink1').click();
		});
		function getSpecialities(id){
			alert("Id"+id);
		}
	</script> -->
	<script>
    var productId;
    $(document).ready(function(){
    	$("#quickViewModal").modal({
            keyboard: true,
            backdrop: "static",
            show: false,
            
        }).on("show.bs.modal", function(event){
        	var button        = $(event.relatedTarget);
        	var id            = button.data("id");
            var name          = button.data("name");
            var detail        = button.data("detail");
            var upprice       = button.data("upprice");
            var price         = button.data("price");
            var category      = button.data("category");
            var quantity      = button.data("quantity");
            var subcategory   = button.data("subcategory");
            var deliveryprice = button.data("deliveryprice");
            var image1        = button.data('image1');
            var image2        = button.data('image2');
            var image3        = button.data('image3');
            var image4        = button.data('image4');
            var detail        = button.data("detail");
            //var companyname   = button.data('companyname');
            //var companyimage  = button.data('companyimage');
            
            $(this).find("#id").html($("<b> " +id+ "</b>"));
            $(this).find("#name").html($("<b> " + name +"</b>"));
            $(this).find("#detail").html($("<li> " + detail +"</li>"));
            $(this).find("#upprice").html($("<b> " + upprice + " FCFA"  +"</b>"));
            $(this).find("#price").html($("<b> " + price + " FCFA" +"</b>"));
            $(this).find("#category").html($("<span>" + category +"</span> "));
            $(this).find("#subcategory").html($("<span>" + subcategory +"</span> "));
            $(this).find("#quantity").html($("<span> " + quantity +"</span>"));
            $(this).find("#deliveryprice").html($("<b> " + deliveryprice + " FCFA" +"</b>"));
            $(this).find("#image1").attr("src", image1);
            $(this).find("#image2").attr("src", image2);
            $(this).find("#image3").attr("src", image3);
            $(this).find("#image4").attr("src", image4);
            //$(this).find("#companyimage").attr("src", companyimage);
            //$(this).find("#companyname").html($("<span>" + companyname + "</span>"));
            productId=id;

        })
    });
</script>


    <script>
    var productId;
    $(document).ready(
    	function(){
    	
    	$("#quickViewModalAttoly").modal({
            keyboard: true,
            backdrop: "static",
            show: false,
            
        }).on("show.bs.modal", function(event){
        	var button        = $(event.relatedTarget);
        	var id            = button.data("id");
            var name          = button.data("name");
            var detail        = button.data("detail");
            var price         = button.data("price");
            var category      = button.data("category");
            var detail        = button.data("detail");
            var quantity      = button.data("quantity");
            var closeddate    = button.data("closeddate");
            var currentbooking= button.data("currentbooking"); 
            var deliveryprice = button.data("deliveryprice");
            var image1        = button.data('image1');
            var image2        = button.data('image2');
            var image3        = button.data('image3');
            var image4        = button.data('image4');
          
            
            $(this).find("#id").html($("<b> " +id+ "</>"));
            $(this).find("#name").html($("<b> " + name +"</b>"));
            $(this).find("#detail").html($("<li> " + detail +"</li>"));
            $(this).find("#price").html($("<b> " + price + " FCFA" + "</b>"));
            $(this).find("#quantity").html($("<span> " + quantity +"</span>"));
            $(this).find("#category").html($("<span>" + category +"</span> "));
            $(this).find("#closeddate").html($("<span> " + closeddate +"</span>"));
            $(this).find("#currentbooking").html($("<span>" + currentbooking +"</span> "));
            $(this).find("#deliveryprice").html($("<b> " + deliveryprice   + " FCFA"  + "</b>"));
            $(this).find("#image1").attr("src", image1);
            $(this).find("#image2").attr("src", image2);
            $(this).find("#image3").attr("src", image3);
            $(this).find("#image4").attr("src", image4);
            productId=id;
           
        })
    });
    function bookNow(){
    	
    	$.ajax({
			type: "GET",
	        contentType: "application/json",
	        url: '/booking/product?product_id='+productId,
	        data: {},
	        dataType: 'json',
	        cache: false,
	        timeout: 600000,
	        success: function (data) {
	            //   window.location.href = data.name+'booking/add/'+data.id;
				window.location.href = '/booking/add/'+data.id;
	        },
	        error: function (e) {
	            console.log("ERROR : ", e);
	        }
		});  
     }
 
</script>

<script type="text/javascript">
  function sendProductId(id){
		$.ajax({
			type: "GET",
	        contentType: "application/json",
	        url: '/product/sendProductId?id='+id,
	        data: {},
	        dataType: 'json',
	        cache: false,
	        timeout: 600000,
	        success: function (data) {
                $('#productId').html(data.id);
	        },
	        error: function (e) {
	            console.log("ERROR : ", e);
	        }
		});
  }
  
 
</script>

<script type="text/javascript">
function changeImage(a){
    var idImage    = a.id;
    var image = a.src;
	$.ajax({
		type: "GET",
        contentType: "application/json",
        url: '/product/changeImage?image='+image,
        data: {},
        dataType: 'json',
        cache: false,
        timeout: 600000,
        success: function (data) {
        	$("#image1").attr("src",data.brand);    
        },
        error: function (e) {
            console.log("ERROR : ", e);
        }
	});
 } 
</script>
<script type="text/javascript">
   function companyImage(a){  
	 var image = a.src;
	 $.ajax({
			type: "GET",
	        contentType: "application/json",
	        url: '/company/companyImage?image='+image,
	        data: {},
	        dataType: 'json',
	        cache: false,
	        timeout: 600000,
	        success: function (data) {
             window.location.href = data.name+'company/info/'+data.id;
	        },
	        error: function (e) {
	            console.log("ERROR : ", e);
	        }
		});
	}  
</script> 
<script type="text/javascript">
   function companyImageAttoly(a){  
	 var image = a.src;
	 $.ajax({
			type: "GET",
	        contentType: "application/json",
	        url: '/company/companyImageAttoly?image='+image,
	        data: {},
	        dataType: 'json',
	        cache: false,
	        timeout: 600000,
	        success: function (data) {
              window.location.href = data.name+'/contact';
	        },
	        error: function (e) {
	            console.log("ERROR : ", e);
	        }
		});
	}  
   
  
    function changeImageAttoly(a){
	    var idImage    = a.id;
	    var image = a.src;
		
	    $.ajax({
			type: "GET",
	        contentType: "application/json",
	        url: '/product/changeImage?image='+image,
	        data: {},
	        dataType: 'json',
	        cache: false,
	        timeout: 600000,
	        success: function (data) {
	        	$(".attoly #image1").attr("src",data.brand);   
	        },
	        error: function (e) {
	            console.log("ERROR : ", e);
	        }
		});
	 } 
    </script>
	<!-- Modal -->
	<div class="modal fade quickViewModalAttoly" id="quickViewModalAttoly" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-4">
							<div class="tab-content">
								<div id="product-1" class="tab-pane fade in show active">
									<div class="product-details-thumb attoly">
										<img id="image1" alt="" style="object-fit: cover;"
										 onClick="changeImageAttoly(this)"/>
									</div>
								</div>
							</div>
							<ul class="nav nav-tabs products-nav-tabs horizontal quick-view mt-10" >
								<li><a data-toggle="tab">
							      	  <img id="image2" alt=""   
										style="object-fit: cover;"
										onClick="changeImageAttoly(this)"
							      	  />
							      	</a>
							    </li>
								<li>
								   <a data-toggle="tab" href="#product-3">
								     <img id="image3" alt="" style="object-fit: cover;"
									  onClick="changeImageAttoly(this)" />
								   </a>
								</li>
								<li>
								   <a data-toggle="tab" href="#product-4">
								     <img id="image4" alt="" style="object-fit: cover;"
									  onClick="changeImageAttoly(this)"/>
								   </a>
								</li>
							</ul>
						</div>
						<div class="col-lg-8">
							<div class="row">
								<div class="col-lg-8">
									<div class="product-details-desc">
									   <h2 id="name"></h2>
										<ul id="detail">
										   <li></li>
										</ul>
										<div class="product-meta">
											<ul class="list-none">
 												<li>Date de clôture: <span id="closeddate">|</span></li>
 												<li>Nombre de réservations: <span id="currentbooking">|</span></li>
 											    
 												<li>Catégorie:
													<!-- <a href="#" id="category"></a> -->
													<a href="#">Vente groupée</a>
												<!-- 	<a href="#">Macbook</a>
													<a href="#">Laptop</a> -->
<!-- 													<span>|</span>
 -->												</li>
											 <!-- 	<li>Tag:
													<a href="#" id="subcategory"></a>
													<a href="#">Apple</a>
												</li>  -->
											</ul>
										</div>
<!-- 										<div class="social-icons style-5">
											<span>Partager sur:</span>
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-rss"></i></a>
										</div> -->
										<div class="social-icons style-5" style="cursor: pointer;">
										  <span>Compagnie:</span>
										  <span>
										      <img th:src="@{${awsBucketIcon}+'logo.png'}"  width="30%;" 
											  style="object-fit: cover;" 
											  alt=""  onClick="companyImage(this)">
										  </span>                                          
										</div> 
									</div>
								</div>
								<div class="col-lg-4">
									<div class="product-action stuck text-left">
										<div class="home-delivery">
											<a  onClick="bookNow()" style="cursor: pointer;"><i class="ti-truck"></i> Livraison à domicile</a>
										</div>
										<div class="product-price-rating">
										<!-- 	<div>
												<del id="upprice"></del>
											</div> -->
											<span id="price"></span>
										<!-- 	<div class="pull-right">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-o"></i>
											</div> -->
										</div>
										<div class="product-colors mt-20">
											<label>Quantité disponible:</label>
											<span id="quantity"></span>
											
										</div>
									 	<div class="product-quantity mt-15">
											<label>Livraison:</label>
											<span id="deliveryprice"></span>
										</div> 
										<div class="add-to-get mt-2">
											<a  onClick="bookNow()" style="cursor: pointer;"  class="btn btn-success">
											   <span style="color: white;">
												  <i class="fa fa-shopping-cart" 
									               ></i>
												    Acheter maintenant										    
											   </span>
											 </a>
 										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
					
		</body>
		</html>