<div class="col-xs-2">
  	<h3><label for="category">Annonce</label></h3>
	<div class="list-group" id="ad">
		<a th:href="@{/ads/adList}" th:classappend="${activeAll}? 'active'" class="list-group-item">Toutes les annonces</a>
		<a th:href="@{/ads/searchByType(type='sell')}" th:classappend="${activeSell}? 'active'" class="list-group-item">Vente</a>
		<a th:href="@{/ads/searchByType(type='purchase')}" th:classappend="${activePurchase}? 'active'" class="list-group-item">Achat</a>
		<a th:href="@{/ads/searchByType(type='houseSearch')}" th:classappend="${activeHouseSearch}? 'active'" class="list-group-item">Recherche de maison</a>
		<a th:href="@{/ads/searchByType(type='houseAvailable')}" th:classappend="${activeHouseAvailable}? 'active'" class="list-group-item">Maison disponible</a>
	</div>   
</div>
	
