<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="include/head"></head>
<link rel="stylesheet" th:href="@{/assets/css/styleService.css}">


<body style="background-color: #e8e8e8 !important; ">	
     <div th:replace="include/navbar"></div>
     <div class="row companyServiceDiv">
        <div class="card companyLogo"
            style="border-width: 3px; margin-left: 2rem; height:9rem;margin-top:2rem;
                    border-radius: 13px ;border-color: #6FB70F;">					
            <a href="#">      
                   <img style="width:36%; height:8rem;padding-top: 10px; padding-left: 10px;" 
                  class="img-responsive"
              th:src="@{${awsBucketCompany}+${company.galery.id}+'/'+${company.galery.companyImage}}" alt=""  
              />
              <span><strong th:text="${company.name}"></strong></span>
		    </a>	
        </div>
		<div th:replace="include/speciality"></div>
     </div>
     <div  class="row catalogPictureDiv" style="margin-top: 8px; margin-left: 3.6rem;">
        <div th:replace="include/companyLeft"></div>       	
        <div class="col-md-9 row catalogList">
            <div class="container bookingForm" style="width: 36rem;">
   
                <fieldset>
              <legend class="center-block">
                  Renseignez ces champs					
                  <span style="font-size: small"> * Champ obligatoire</span>
              </legend>
              <div th:replace="include/alreadyHasCustomerAccount"></div>
               <div class="container">
                  <form th:action="@{/company/booking/add}" method="post">
                        <input type="hidden" name="company_id" th:value="${company.id}">
                    
                         <div class="form-group">
                             <input type="hidden" name="role" class="form-control" value="ROLE_CUSTOMER_COMPANY">
                        </div>
                    
                        
                        <div class="form-group">
                              <label for="lastName">Nom</label> 
                              <input type="text" required="required" placeholder="Votre nom"
                                  class="form-control" id="lastName" name="lastName"
                                   />
                          </div>
                        <div class="form-group">
                              <label for="firstName">Pr&eacute;nom(s)</label>
                               <input
                                  type="text" class="form-control" id="firstName" required="required"
                                  name="firstName" placeholder="Votre(vos) Pr&eacute;nom(s)" />
                          </div>
                   
                         <div class="form-group">
                              <label class="control-label">* S&eacute;lectionner votre ville</label>
                              <select name="town" class="form-control">
                                 <option data-th-each="town : ${townList}" th:value="${town.name}" th:text="${town.name}">
                                 </option>
                              </select>
                         </div>
                      
                      <div class="form-group">
                          <label>Quartier</label>
                          <input type="text" placeholder="Precisier votre quartier"
                              class="form-control" name="district" required="required"
                           />
                      </div>
                                  
                      <div class="form-group">
                          <label>Adresse</label>
                            <textarea  placeholder="Precisier votre adresse"
                              class="form-control" name="address" required="required"
                               ></textarea>
                      </div>
                                      
                        <div class="form-group">
                              <label for="userName">Num&eacute;ro de t&eacute;l&eacute;phone</label>
                                <input type="text"
                                  class="form-control" id="userPhone" name="phone" required="required"
                                  placeholder="Numéro de téléphone "
                                   />
                       </div>
                   
                        <div class="form-group">
                          <label for="exampleFormControlInput1">Adresse email</label>
                          <span
                          style="color: red;" th:if="${emailExists}">Cet email existe d&eacute;j&agrave;.
                          Choisissez-en un autre.
                      </span>
                          <input type="email" class="form-control" id="exampleFormControlInput1" 
                             placeholder="nom@example.com" name="email" required="required"> 
                        </div>
                         <div class="form-group">
                          <label for="exampleFormControlInput1">Service demandé</label>
                          <textarea 
                             placeholder="Décrivez ce que vous cherchez" name="command" 
                             required="required" class="form-control" >
                          </textarea> 
                        </div>
                        <div class="form-group">
                          <label for="exampleFormControlInput1">Jour</label>
                          <input type="date" class="form-control" id="exampleFormControlInput1" 
                             placeholder="nom@example.com" name="day" required="required"> 
                        </div>
                        <div class="form-group">
                          <label for="exampleFormControlInput1">Heure</label>
                          <input type="time" class="form-control" id="exampleFormControlInput1" 
                             placeholder="exemple: 08h30" name="hour" required="required"> 
                        </div>
                      <div class="form-group">
                          <label for="exampleFormControlInput1">Nom d'utilisateur</label>
                          <span
                              style="color: red;" th:if="${usernameExists}">Ce nom d'utilisateur existe d&eacute;j&agrave;.
                              Choisissez-en un autre.
                          </span>
                          <input type="text" class="form-control" id="exampleFormControlInput1" 
                             placeholder="Nom d'utilisateur" name="username" required="required">
                        </div>
                      
                       <div class="form-group">
                        <label for="txtNewPassword">Mot de passe</label>&nbsp;<span
                          id="checkPasswordMatch" style="color: red;"></span> 
                          <input required="required" placeholder="Mot de passe"
                          type="password" class="form-control" id="txtNewPassword"
                          name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                                 title="Doit contenir au minimum un nombre, une lettre majuscule, une lettre minuscule et au moins 8 charactères"/>
                      </div>   
                      
        
                        
                           <div style="margin-bottom: 3rem;" >
                                <button type="submit" class="btn btn-success btn-block" style="margin-top: 1rem;">
                                       Valider
                                </button>
                           </div>
                   </form> 
                 </div>
               </fieldset>    
           </div>       
        </div>  
    </div>
     <div style="margin-top: 3rem;"></div>
         
            
       <script th:src="@{/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
	<!-- jquery-3.3.1 version -->
	<script th:src="@{/assets/js/vendor/jquery-3.2.1.min.js}"></script>
	<!-- bootstra.min js -->
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>
	<!-- mmenu js -->
	<script th:src="@{/assets/js/jquery.mmenu.js}"></script>
	<!-- easing js -->
	<script th:src="@{/assets/js/jquery.easing.min.js}"></script>
	<!---slick-js-->
	<script th:src="@{/assets/js/slick.min.js}"></script>
	<!---letteranimation-js-->
	<script th:src="@{/assets/js/letteranimation.min.js}"></script>
	<!-- jquery-ui js -->
	<script th:src="@{/assets/js/jquery-ui.min.js}"></script>
	<!-- jquery.countdown js -->
	<script th:src="@{/assets/js/jquery.countdown.min.js}"></script>
	<!-- venobox js -->
	<script th:src="@{/assets/js/venobox.min.js}"></script>
	<!-- plugins js -->
	<script th:src="@{/assets/js/plugins.js}"></script>
	<!-- main js -->
	<script th:src="@{/assets/js/main.js}"></script>	
	<!--footer-area start-->
	<footer th:replace="include/footer"></footer>
	
		<!--footer-area end-->
</body>
</html>