<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/headerDashboard :: common-header" />

<body>
	<div th:replace="common/headerDashboard :: navbar"></div>
	<div class="container">
		<div class="row">
			<form class="form-horizontal" th:action="@{/product/addStep1}" method="post">
				<fieldset>
					<legend class="center-block">
						Ajout d'un produit <span style="font-size: small"></span>
					</legend>
					<!-- language -->
			<!-- 	 	<div class="form-group">
						<label class="col-md-2 control-label">* Selectionner le quartier</label>
						<div class="col-md-8">
							<select name="district_id" class="form-control" multiple>
						       <option data-th-each="district : ${districtList}" th:value="${district.id}" th:text="${district.name}">
						       </option>
						    </select>
						</div>
					</div>  -->
					<div class="form-group">
						<label class="col-md-2 control-label">* Selectionner la categorie</label>
						<div class="col-md-8">
							<select name="category_id" class="form-control">
						       <option value="1"> Boutique</option>
						       <option value="3"> Librairie 
						    </select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<button type="submit" class="btn btn-success">Valider</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<div th:replace="common/headerDashboard :: body-bottom-scripts"></div>
	
</body>
</html>
