<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="include/head"/><head>
<style type="text/css">

  	.btn-success {
	  background-color: #6FB70F !important;
	  border-color: #6FB70F !important;
	}
    .btn-success:hover,
    .btn-success:active,
    .btn-success:visited,
    .btn-success:focus {
      background-color: #6FB70F !important;
      border-color: #6FB70F !important;
    }  
</style>
<body style="background-color: #e8e8e8;">	
    <!--header-->
	 <div th:replace="dashboard/navbarCustomer"></div>
	 
     <section class="content">
	      <div class="container-fluid">
	         <strong>
	              <span>Continuer votre achat maintenant</span>
	              <span></span><span></span>
	         </strong>
	      
	      	      <div class="container bookingForm">
          <fieldset>
			<legend class="center-block">
				<span style="font-size: small"> * Informations de la vente</span>
			</legend>
			      
		           
       			  <img th:if="${booking.product.category.title =='shop'}" height="400px;" width="50%;"
	                    class="img-responsive"  style="object-fit: cover;"
		                  th:src="@{${awsBucketShop}+${booking.product.galery.id}+'/'+${booking.product.galery.image1}}" alt=""  
	               />
	               <img th:if="${booking.product.category.title == 'groupSale'}" height="400px;" width="50%;"
	                    class="img-responsive"  style="object-fit: cover;"
		                  th:src="@{${awsBucketGroupSale}+${booking.product.galery.id}+'/'+${booking.product.galery.image1}}" alt=""  
	               />
			  	   <img th:if="${booking.product.category.title =='store'}" height="400px;" width="50%;"
	                    class="img-responsive"  style="object-fit: cover;"
		                  th:src="@{${awsBucketProduct}+${booking.product.galery.id}+'/'+${booking.product.galery.image1}}" alt=""  
	               /> 
		     <div class="form-group">
		        <label>Nom du produit</label>
		       <input class="form-control" th:value="${booking.product.name}" disabled="disabled">
		     </div>
		    
		      <div class="form-group">
		        <label>Prix unitaire</label>
		       <input class="form-control" th:value="${booking.product.price}" disabled="disabled">
		     </div>
		      <div class="form-group">
		        <label>Quantite disponible</label>
		       <input class="form-control" th:value="${booking.product.quantity}" disabled="disabled">
		     </div>
		     <div th:if="${category != null}" class="form-group">
		        <label>Date de cloture</label>
		       <input class="form-control" th:value="${booking.product.closedDate}" disabled="disabled">
		     </div>
		      <div class="form-group">
		        <label>Prix de livraison</label>
		       <input class="form-control" th:value="${booking.product.deliveryPrice}" disabled="disabled">
		     </div> 
         </fieldset>
        
         <hr>
          <fieldset>
			<legend class="center-block">	    
				Renseignez ces champs					
				<span style="font-size: small"> * Champ obligatoire</span>
			</legend>
		     <div class="container">
		        <form th:action="@{/booking/finalize}"  method="post">
		              <input class="form-control" type="hidden" name="id" th:value="${booking.id}"> 
			          <input type="hidden" name="product_id" th:value="${booking.product.id}">
				  
					    <div class="form-group">
							<label for="userName">S&eacute;lectionner votre quantit&eacute;</label><br>
							    <span
									style="color: red;" th:if="${quantityGreather}">La quantite s&eacute;lectionn&eacute;e 
									  est sup&eacute;rieure &agrave; la quantit&eacute; disponible!
									Choisissez-en un autre.
								</span><br>
							  <input type="number"
								class="form-control" name="quantity" required="required"
								placeholder="Quantité"
								 />
						 </div>
					     <div style="margin-bottom: 3rem;" >
					          <button type="submit" class="btn btn-success btn-block" style="margin-top: 1rem;">
							         Valider
							  </button>
					     </div>
			     </form> 
		       </div>
		     </fieldset>    
         </div>
		</div>			
	    </section>
	 
	

	<!-- JS  -->
		
<script th:src="@{/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
	<!-- jquery-3.3.1 version -->
	<script th:src="@{/assets/js/vendor/jquery-3.2.1.min.js}"></script>
	<!-- bootstra.min js -->
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>
	<!-- mmenu js -->
	<script th:src="@{/assets/js/jquery.mmenu.js}"></script>
	<!-- easing js -->
	<script th:src="@{/assets/js/jquery.easing.min.js}"></script>
	<!---slick-js-->
	<script th:src="@{/assets/js/slick.min.js}"></script>
	<!---letteranimation-js-->
	<script th:src="@{/assets/js/letteranimation.min.js}"></script>
	<!-- jquery-ui js -->
	<script th:src="@{/assets/js/jquery-ui.min.js}"></script>
	<!-- jquery.countdown js -->
	<script th:src="@{/assets/js/jquery.countdown.min.js}"></script>
	<!-- venobox js -->
	<script th:src="@{/assets/js/venobox.min.js}"></script>
	<!-- plugins js -->
	<script th:src="@{/assets/js/plugins.js}"></script>
	<!-- main js -->
	<script th:src="@{/assets/js/main.js}"></script>	
   


</body>
</html>