<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="include/head"/><head>
<link rel="stylesheet" th:href="@{/assets/css/styleDashboard.css}">

<style type="text/css">

  	.btn-success {
	  background-color: #6FB70F !important;
	  border-color: #6FB70F !important;
	}
    .btn-success:hover,
    .btn-success:active,
    .btn-success:visited,
    .btn-success:focus {
      background-color: #6FB70F !important;
      border-color: #6FB70F !important;
    }  
</style>
<body style="background-color: #e8e8e8;">	
    <!--header-->
	 <div th:replace="dashboard/navbarCustomer"></div>
	 
    <section class="content">
	      <div class="container-fluid">
	         <strong>
	              <span>Panier(</span>
	              <span th:text="${bookingList.size}"></span><span> articles)</span>
	         </strong>
	      
	      	  <div class="table-responsive">
			<table id="storeListTable" class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th width="90rem;">Article</th>
						 <th width="2px;">Quantité</th>
						 <th width="2px;">Prix unitaire</th>
						<th width="2px;">Sous-total</th>
						<th width="2px;">Status</th>
						
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="booking : ${bookingList}">
					
						<td>
					        <div class="row">
					            <div class="col-md-2">
					                <a th:href="@{/product/productInfo(id=${booking.product.id})}">      
						                   <img th:if="${booking.product.category.title =='shop'}" width="80%" height="60px"
							                    class="img-responsive"
								                  th:src="@{${awsBucketShop}+${booking.product.galery.id}+'/'+${booking.product.galery.image1}}" alt=""  
							               />
							               <img th:if="${booking.product.category.title == 'groupSale'}" width="80%" height="60px"
							                    class="img-responsive"
								                  th:src="@{${awsBucketGroupSale}+${booking.product.galery.id}+'/'+${booking.product.galery.image1}}" alt=""  
							               />
									  	   <img th:if="${booking.product.category.title =='store'}" width="80%" height="60px"
							                    class="img-responsive"
								                  th:src="@{${awsBucketProduct}+${booking.product.galery.id}+'/'+${booking.product.galery.image1}}" alt=""  
							               /> 
								    </a>
					            </div>
					       
					            <div class="col-md-10">
					              <span>Vendeur:</span> <span th:text="${booking.product.user.lastName}"></span>
					               <span th:text="${booking.product.user.firstName}"></span>
					              <br>
					              <strong>
					                    <span style="font-size: 18px;" th:text="${#strings.abbreviate(booking.product.detail,100)}"></span> 
					              </strong>
			    	            </div>	
					        </div>
					     </td>
						<td><a th:href="@{/product/productInfo(id=${booking.product.id})}">
						  <span th:text="${booking.quantity}" class="colorText"></span></a>
						</td>
						<td th:text="${booking.product.price}"></td>	
						<td class="colorText" th:text="${booking.total_price}"></td>
						<td>
						  <span th:if="${booking.status== 'PENDING'}" class="colorText">En cours</span>
    					  <span th:if="${booking.status== 'DELIVERED'}" class="colorText">Livré</span>				
						</td>
					</tr>
				</tbody>
	         </table>
		
			</div>
		</div>
	  </div>
			
	    </section>
	 
	

	<!-- JS  -->
		
<script th:src="@{/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
	<!-- jquery-3.3.1 version -->
	<script th:src="@{/assets/js/vendor/jquery-3.2.1.min.js}"></script>
	<!-- bootstra.min js -->
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>
	<!-- mmenu js -->
	<script th:src="@{/assets/js/jquery.mmenu.js}"></script>
	<!-- easing js -->
	<script th:src="@{/assets/js/jquery.easing.min.js}"></script>
	<!---slick-js-->
	<script th:src="@{/assets/js/slick.min.js}"></script>
	<!---letteranimation-js-->
	<script th:src="@{/assets/js/letteranimation.min.js}"></script>
	<!-- jquery-ui js -->
	<script th:src="@{/assets/js/jquery-ui.min.js}"></script>
	<!-- jquery.countdown js -->
	<script th:src="@{/assets/js/jquery.countdown.min.js}"></script>
	<!-- venobox js -->
	<script th:src="@{/assets/js/venobox.min.js}"></script>
	<!-- plugins js -->
	<script th:src="@{/assets/js/plugins.js}"></script>
	<!-- main js -->
	<script th:src="@{/assets/js/main.js}"></script>	
   


</body>
</html>