<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header"/>

<body>
<div th:replace="common/header :: navbar"></div>

<div class="container">
    	<div class="row">
          <div th:replace="front/store/left"></div>		 
		  <div class="col-sm-7">
				<div class="box-body">
					<ol class="breadcrumb">
		                <li><a th:href="@{/stores/products?store_id=}+${product.store.id}">Retourner &agrave; la liste des produits du magasin</a></li>
					</ol>
				</div>
		       

     			<h5>Produit <span style="color:#db3208;"><span th:text="${product.name}"> </span></span></h5>
		          <a th:href="@{/products/productGalery?id=}+${product.id}">
		              <img class="img-responsive shelf-book" style="width:94%; height:400px; margin-top: 10px;" 
		      	       th:src="@{${product.imagePath1}}"/>
		          </a>
		  </div>
		  <div class="col-sm-2">
		    <div class="btn-group-vertical" style="margin-top: 90px;">
		       <img class="img-responsive img-circle" style="width: 100px; height: 120px; margin-left: 65px;"
		        th:src="@{${product.store.user.imagePath}}"/>


               <p class="text-muted text-center" style="color: blue;margin-top: 14px;">
                   <span th:text="${product.store.user.lastName}"></span>
    		       <span th:text="${product.store.user.firstName}"></span> 
                </p>
		       
			  <button type="button" class="btn btn-warning" style="color:black;border:1px solid black; padding: 10px 40px 10px 40px;"
				   th:attr="data-publisher = ${product.store.user.id}"				   
                   data-toggle="modal"
                   data-target="#contactPublisher"		
				>
			     <i class="fa fa-phone"> Contacter le magasinier</i>
			  </button>
			  <button type="submit" class="btn btn-primary" style="margin-top:8px; color:black;border:1px solid black; padding: 10px 40px 10px 40px;"
			     th:attr="data-publisher = ${product.store.user.id}"				   
                   data-toggle="modal"
                   data-target="#emailPublisher"	
			  >
				 <i class="fa fa-envelope-square"> Contacter par e-mail</i>
			     
			   </button>
			   
			     <a th:href="@{https://api.whatsapp.com/send?phone=}+${product.store.user.phone}"> 
			        <button type="submit" class="btn btn-success"
				      style="margin-top:8px; color:black;border:1px solid black; padding: 10px 40px 10px 40px;">
					  <i class="fa fa-whatsapp" aria-hidden="true"> Contacter par whatsapp</i>
				    </button>
				  </a> 
			   
			    <!--   <a th:href="https://api.whatsapp.com/send?phone=221778042681&text=hi&source=&data="> 
			        Contact par whatsapp
				  </a>  -->
				
			</div> 
		  </div>
		</div>
    	<div class="row" style="margin-top: 10px;margin-left: 186px;">
    		<div class="col-xs-10">
    	     	<h3 class="text-warning text-left">
    			   <span th:if="${product.store.storetype.id == 1}">Magasin commercial</span>
        	       <span th:if="${product.store.storetype.id == 2}">Magasin multiservice</span>
    			</h3>
    			<div class="row">	
    				<div class="col-xs-9">
    					<div class="panel panel-default" style="border-width: 5px;width: 106%;">
    						<div class="panel-body">
    							<div class="row col-xs-12">
    								<div class="container">
     								  <p><strong>Quantit&eacute;: </strong><span th:text="${product.quantity}"></span></p>
 				    				  <p><strong>Marque: </strong><span th:text="${product.brand}"></span></p>
				    				  <h5><strong>Prix </strong><span th:text="${product.price}"></span></h5>
				    				  <p><strong>Cat&eacute;gorie:  </strong><span th:text="${product.subCategory.category.name}"></span></p>
				    				  <p><strong>Sous-cat&eacute;gorie:  </strong><span th:text="${product.subCategory.name}"></span></p>	
				                      <p><strong>Date de publication: </strong><span th:text="${product.publicationDate}"></span></p>	
				                     </div> 
    							</div>
    						</div>
    					</div>
    				</div>	
    			</div>
    			<h5>D&eacute;tails</h5>
    			<hr/>
   			 	<div class="panel panel-default" style="border-width: 5px;width: 100%;">
  						<div class="panel-body">
  					    	<p th:utext="${product.detail}"></p>
  					    </div>
   				</div>
   				
   			      	<h5>Sp&eacute;cificit&eacute;s</h5>
   				<hr/>				
   				<div th:if="${product.store.storetype.id == 2}" class="panel panel-default" style="border-width: 5px;width: 100%;">
  					<div class="panel-body">
  					    <p th:utext="${product.specificity}"></p>
  					</div>
   				</div>
   					<h5>D&eacute;lais de livraison</h5>
   				<hr/>				
   				<div th:if="${product.store.storetype.id == 2}" class="panel panel-default" style="border-width: 5px;width: 100%;">
  					<div class="panel-body">
  					     <p th:utext="${product.deliveryDelay}"></p>
  					</div>
   				</div>
   				
    		</div>
    	</div>

    
     <!--modal of contact of publisher  -->
     <div class="modal modal-danger fade" id="contactPublisher" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
           <div class="modal-dialog" role="document">
               <div class="modal-content">
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                       <h4 class="modal-title text-center" id="myModalLabel">
                       			     <i class="fa fa-phone"> Contacter le magasinier</i>
                       </h4>
                   </div>
                       
                   <div class="modal-body">
                       
                         <h3 style="text-align: center;">
                              <span th:text="${product.store.user.phone}"></span>
                         </h3>
                   </div>
                   <div class="modal-footer">
                   </div>
               </div>
           </div>
      </div>
      <!--End of modal of contact of publisher  -->
      
          <!--modal of email of publisher  -->
     <div class="modal modal-danger fade" id="emailPublisher" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
           <div class="modal-dialog" role="document">
               <div class="modal-content">
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                       <h4 class="modal-title text-center" id="myModalLabel">
                       <i class="fa fa-envelope-square"> Contacter le magasinier </i></h4>
                   </div>
                       
                   <div class="container">
                    <form th:action="@{/mail/sendToPublisher}" method="post">
                          <input required="required" type="hidden" class="form-control"
								    name="product_id" th:value="${product.id}"/> 
                    	   <input required="required" type="hidden" class="form-control"
								    name="emailReceiver" th:value="${product.store.user.email}"/>  
						  <div class="form-group">
								<label for="email">* Adresse Email: </label>
								<input required="required" type="email" class="form-control"
								    name="emailSender" />
						  </div>
						   <div class="form-group">
								<label for="message">* Message: </label>
								<textarea required="required" rows="7" class="form-control"
									 name="message" ></textarea>
						  </div>
		                  <div class="modal-footer">
		                       <button type="submit" class="btn btn-primary">Valider</button>    
		                  </div> 
                     </form>
                  </div>
                    </div>
            
           </div>
      </div>
      <!--End of modal of email of publisher  -->
      
</div>
<!-- end of container -->
<div th:replace="common/header :: footer">  </div>

<div th:replace="common/header :: body-bottom-scripts">  </div>
</body>
</html>
