<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<link rel="stylesheet" th:href="@{/assets/css/styleCatalog.css}">
<div  class="row catalogPictureDiv" style="margin-top: 8px; margin-left: 3.6rem;">
    <div th:replace="include/companyLeft"></div>       	
    <div class="col-md-9 row catalogList">
          
           <div  data-th-each="catalog : ${catalogList}">
             <div class="serviceCatalogDiv">
                <div class="serviceCatalogImg">
                     <a href="#">
                       <img width="100%"
                            class="img-responsive"
                            th:src="@{${awsBucketCatalog}+${catalog.id}+'/'+${catalog.image}}" alt=""  
                        /> 
                     </a>
                  </div>
                  <div class="product-price-rating" id="service">
                        <div style="text-align: center;">
                            <span  style="color: black;" th:text="${#strings.abbreviate(catalog.name,20)}"></span><br/>
                            <span  th:text="${catalog.price}+ ' XOF'"> </span>
                        </div>
                    </div>
                 </div>
            </div>
         </div>
      </div>