 <style> 
   @media screen and (min-width: 1025px)  {
 .categoryTypeContainer{
        margin-top: 4% !important;
    }
    .categoryType{
       margin-left: 20rem !important;
  }
    .categoryTypeDiv{
        width: 6rem !important;
        margin-left: 1rem !important;
    }
    .catShop{
        margin-left: 1rem !important;
    }
    .catService{
        margin-left: 1.5rem !important;
    }
    .catStore{
        margin-left: 1.3rem !important;
    }
    .catGroupSale{
        margin-left: .5px !important;
    }
   }

   @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .categoryTypeContainer{
        margin-top: 4% !important;
    }
    .categoryType{
       margin-left: 10rem !important;
  }
    .categoryTypeDiv{
        width: 6rem !important;
        margin-left: 1rem !important;
    }
    .catShop{
        margin-left: 1rem !important;
    }
    .catService{
        margin-left: 1.5rem !important;
    }
    .catStore{
        margin-left: 1.3rem !important;
    }
    .catGroupSale{
        margin-left: .5px !important;
    }
   }
   @media (min-width: 481px) and (max-width: 767px) {
    .categoryTypeDiv{
        width: 9rem !important;
    }
    .categoryTypeDiv img{
        width:  10rem !important;
    }
    .catTypeShop{
        margin-left: 7rem !important;
    }
    .catTypeStore{
        margin-left: 7rem !important;
    }
   }
   @media (min-width: 320px) and (max-width: 480px) {
      
    .categoryTypeDiv{
        width: 9rem !important;
    }
    .categoryTypeDiv img{
        width:  10rem !important;
    }
     .catTypeShop{
        margin-left: 1.5rem !important;
    }
    .catTypeStore{
        margin-left: 1.5rem !important;
    } 
   } 
</style> 

<div class="container categoryTypeContainer" style="margin-top: 20rem;">   
    <div class="row categoryType">
        <div class="col-xs-6 categoryTypeDiv catTypeShop" style="background-color: #e8e8e8;">
            <a th:href="@{/shop}">
                <img
                        class="img-responsive"
                     
                        src="assets/images/icons/category/shop.png" alt="" 
                /> 
                <span class="catShop" style="  margin-left: 2.5rem; color: black;">
                    <strong>Boutique</strong>  </span>   
             </a> 
             

        </div>
        <div class="col-xs-6 categoryTypeDiv" style="margin-left: 10px;background-color: #e8e8e8;">
            <a th:href="@{/service}">
          
                <img                
                     
                        class="img-responsive"
                        src="assets/images/icons/category/service.png" alt=""
                     /> 
                     <span class="catService" style="  margin-left: 2.5rem; color: black;"> 
                        <strong>Service</strong>  </span>  
              </a>                  
        </div>
        <div class="col-xs-6 categoryTypeDiv catTypeStore" style="background-color: #e8e8e8;">
            <a th:href="@{/store}">
                <img                      

                        class="img-responsive" 
                        src="assets/images/icons/category/store.png" alt=""
                     /> 
                     <span class="catStore" style="  margin-left: 1.4rem; color: black;"> 
                        <strong>Magasin</strong>  </span>
              </a>            
        </div>
        <div class="col-xs-6 categoryTypeDiv" style="margin-left: 10px;background-color: #e8e8e8;">
            <a th:href="@{/groupSale}">  
                <img                        

                        class="img-responsive" 
                        src="assets/images/icons/category/groupSale.png" alt=""
                     /> 
                     <span class="catGroupSale" style="  margin-left: 1.5rem; color: black;"> 
                        <strong>Achat groupé</strong> </span>

              </a>
        </div>
    </div>  
</div>