

<div class="container container-fluid categoryTypeContainer">     
    <div class="row categoryType">
      <div class="col" style="background-color: #e8e8e8;">
 	 	 <a th:href="@{/shop}">
           <img
                   class="img-responsive"
                   src="assets/images/icons/2.jpg" alt=""
           /> 
           <span class="cat">
            <strong>Boutique</strong>  </span>   
 	 	 </a>         
      </div>
      <div class="col" style="background-color: #e8e8e8;">
   	     <a th:href="@{/service}">
          
           <img
                   class="img-responsive serviceImg"
                   src="assets/images/icons/1.jpg" alt=""
                /> 
           <span class="cat"> <strong>Service</strong>  </span>  
         </a>                  
      </div>
      <div class="col" style="background-color: #e8e8e8;">
         <a th:href="@{/store}">
           <img
                   class="img-responsive storeImg"
                   src="assets/images/icons/3.jpg" alt=""
                /> 
           <span class="cat"> <strong>Magasin</strong>  </span>
         </a>                     
      </div>
      <div class="col" style="background-color: #e8e8e8;">
  	     <a th:href="@{/groupSale}">  
           <img
                   class="img-responsive groupSaleImg"
                   src="assets/images/icons/4.jpg" alt=""
                /> 
           <span class="catGroupSale"> <strong>Achat groupé</strong> </span>
         </a>
      </div>
   </div>
</div>