  
  <html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<div class="card companyLogo">		
   <!-- <div style="width: 5rem !important; height: 10rem !important; margin-top: 1rem; margin-left: 1rem !important;">
    <img 
      class="img-responsive" width="100%" height="100%"
      th:src="@{${awsBucketCompany}+${company.galery.id}+'/'+${company.galery.companyImage}}" alt=""  
  />
  </div> -->
  <!-- <div style="display: inline !important;">
    <span><strong th:text="${company.name}"></strong></span>
  </div> -->
   <a href="#">      
    <img 
        class="img-responsive"
        th:src="@{${awsBucketCompany}+${company.galery.id}+'/'+${company.galery.companyImage}}" alt=""  
    />
    <span><strong th:text="${company.name}"></strong></span>
   </a>	
</div>
 