<div class="row dropdownRow">
    <div class="col-xs-12" style="margin-left: 1rem;">
        <a class="nav-link dropdown-toggle text-white" style="background-color: #6FB70F; margin-left: 1.5rem;"
        href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-navicon"></i><span> Boutique</span>

       </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
       
           <a class="dropdown-item" th:href="@{/shop/supermarket}"> <i class="fa fa-shopping-basket" aria-hidden="true"></i> 
             <span>	Supermarché </span>
           </a>
          </span>
          </a>
         <a class="dropdown-item" th:href="@{/shop/healthBeauty}"><i class="fa fa-medkit"></i> 
           <span>Santé et Beauté </span>
         </a>
         <a class="dropdown-item" th:href="@{/shop/phone}"> <i class="fa fa-phone" aria-hidden="true"></i> 
            <span>	Téléphone et Tablettes </span>
          </a>
         </span>
         </a>
        <a class="dropdown-item" th:href="@{/shop/electronic}"><i class="fa  fa-microchip"></i> 
          <span>Electronique </span>
        </a>
        <a class="dropdown-item" th:href="@{/shop/informatic}"> <i class="fa fa-desktop" aria-hidden="true"></i> 
            <span>	Informatique </span>
          </a>
         </span>
         </a>
        <a class="dropdown-item" th:href="@{/shop/homeAppliance}"><i class="fa  fa-coffee"></i> 
          <span>Electroménager </span>
        </a>
        <a class="dropdown-item" th:href="@{/shop/cloth}"> <i class="fas fa-user-tie" aria-hidden="true"></i> 
            <span>	Habillement </span>
          </a>
         </span>
         </a>
        <a class="dropdown-item" th:href="@{/shop/hobby}"><i class="fas  fa-sleigh"></i> 
          <span>Loisir </span>
        </a>
        <a class="dropdown-item" th:href="@{/shop/other}"><i class="fa fa-list-alt"></i> 
            <span>Autres </span>
          </a>
      </div>
	</div>
   <div class="col-xs-12 serviceContainer" style="display: inline; float: right; ">
    <a class="nav-link dropdown-toggle text-white" style="background-color: #6FB70F; "
    href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-navicon"></i><span > Service</span>

   </a>
   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" th:href="@{/service/sewing}"> <i class="fa fa-cut" aria-hidden="true"></i> 
        <span>	Couture </span>
      </a>
       <a class="dropdown-item" th:href="@{/service/hairdressing}"> <i class="fa fa-paint-brush" aria-hidden="true"></i> 
         <span>	Coiffure </span>
       </a>
      </span>
      </a>
     <a class="dropdown-item" th:href="@{/service/carpentry}"><i class="fa fa-pencil-ruler"></i> 
       <span>Ménuiserie </span>
     </a>
     <a class="dropdown-item" th:href="@{/service/grocery}"> <i class="fa fa-shopping-cart" aria-hidden="true"></i> 
        <span>	Episserie </span>
      </a>
     </span>
     </a>
    <a class="dropdown-item" th:href="@{/service/mechanic}"><i class="fa  fa-car"></i> 
      <span>Mécanique</span>
    </a>
    <!-- <a class="dropdown-item" th:href="@{/service/informatic}"> <i class="fa fa-desktop" aria-hidden="true"></i> 
        <span>	Informatique </span>
      </a>
     </span>
     </a> -->
    <a class="dropdown-item" th:href="@{/service/repair}"><i class="fa  fa-wrench"></i> 
      <span>Réparation </span>
    </a>
  
    <a class="dropdown-item" th:href="@{/service/other}"><i class="fa fa-list-alt"></i> 
        <span>Autres </span>
      </a>
     </div>
   </div>
</div> 
<div class="row">
    <div class="col-xs-12 advertiseContainer">
        <div th:if="${advertiseMobileExists==true}" class="advertiseDiv">
	    	<img id="advertiseMainImg" style="object-fit: cover;"
	    	   th:src="@{${awsBucketAdvertise}+${advertise.id}+'/mobile/'+${advertise.image}}" alt=""  
		     >
       <div class="row container categoryTypeContainer" 
          style="position: relative !important; margin-left: 6% !important;">
         <div class="col-xs-12 categoryTypeDiv catTypeShop"  style="
         left: 35%;
         transform: translate(-50%, -50%);
       ">
            <a  th:href="@{/shop}"
               >
                <img
                    class="img-responsive" style="width: 6.4rem;"
                    th:src="@{${awsBucketIcon}+'shop.png'}" alt="" 
                />
              
                  <span class="spanShop" style="margin-left: 1rem; color: black;">
                    <strong>Boutique</strong>  </span>  
            
           </a>
         </div>
         <div class="col-xs-12 categoryTypeDiv catTypeService" 
              style="
                left: 45%;
                transform: translate(-50%, -50%);
              ">
             <a   th:href="@{/service}"
             >
              <img
                  class="img-responsive" style="width: 6.4rem;"
                  th:src="@{${awsBucketIcon}+'service.png'}" alt="" 
              />
              <span class="spanService" style="  margin-left: 1rem; color: black;">
                <strong>Service</strong>  </span>  
         </a>
       
         </div>
         <div class="col-xs-12 categoryTypeDiv catTypeStore"     
              style="
                left: 55%;
                transform: translate(-50%, -50%);
              ">
              <a  th:href="@{/store}" class="imgGroupStore"
              >
               <img
                   class="img-responsive" style="width: 4rem;height: 5.5rem;margin-left: 13px;"
                   th:src="@{${awsBucketIcon}+'store.png'}" alt="" 
               />
               <span class="spanStore" style="  margin-left: 1rem; color: black;">
                <strong>Magasin</strong>  </span>  
          </a>
       </div>
       <div class="col-xs-12 categoryTypeDiv catTypeGroupSale" 
            style="
              left: 65%;
              transform: translate(-50%, -50%);
            ">
          <a   th:href="@{/groupSale}" class="imgGroupSale"
          >
            <img
                class="img-responsive" style="width: 6.4rem; "
                th:src="@{${awsBucketIcon}+'groupSale.png'}" alt="" 
            />
            <span class="spanGroupSale" style="  margin-left: 0%; color: black;">
              <strong>Achat groupé</strong>  </span>  
          </a>
        </div>
       </div>
	    </div>
    </div>
</div>