<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<header class="header-area">
	<div class="desktop-header">		
		<!--Navbar-->
		<div class="sticker header-bottom">
			<div class="container-fluid">
				<div class="row align-items-center"  style="background-color: #2F2F2C;">
					<div class="col-md-2">
						<div class="logo">
							<a th:href="@{/}"><img src="/assets/images/logos/logo.png" alt="logo" /></a>
						</div>
					</div>
 
				    <div class="col-md-5" style="margin-top: 10px;">
				       	<div class="form-group">
							<input type="text" class="form-control" id="keyword" style="border-radius: 18px;"
								placeholder="Entrer votre recherche" />
								<div id="load_results"></div>
						</div>     		  
				    </div>
					<div class="col-md-2">
						<div class="mainmenu text-center">  
							<nav>							    
							   <ul>  
<!--  						    	 <li><a th:href="@{/}">Accueil</a></li>
 --> 							   <!--  <li>
							 			<a th:href="@{/shop}">
											<span class="text-label label-hot">Promo</span>
											Boutique
										</a>
									</li> -->
								<!-- 	<li><a th:href="@{/library}">Librairie</a></li>
									<li><a th:href="@{/store}">Magasins</a></li>
								    <li><a th:href="@{/service}">Services</a></li> -->
									<li><a th:href="@{/contact}">Contact</a></li>
								</ul>
							</nav>
						</div>
					</div>
						<div class="col-md-2">
						<div class="row align-items-center">
							<div class="col-lg-12 p-0">
								<div class="mini-cart">
									<ul>
										<li><a href="javascript:void(0);" class="minicart-icon"><i class="icon_bag_alt"></i><span>2</span></a>
											<div class="cart-dropdown">
												<ul>
													<li>
														<div class="mini-cart-thumb">
															<a href="#"><img src="/assets/images/products/cart/thumb-1.jpg" alt="" /></a>
														</div>
														<div class="mini-cart-heading">
															<span>$460.00 x 1</span>
															<h5><a href="#">Kabino Bedside Table</a></h5>
														</div>
														<div class="mini-cart-remove">
															<button><i class="ti-close"></i></button>
														</div>
													</li>
													<li>
														<div class="mini-cart-thumb">
															<a href="#"><img src="/assets/images/products/cart/thumb-2.jpg" alt="" /></a>
														</div>
														<div class="mini-cart-heading">
															<span>$460.00 x 1</span>
															<h5><a href="#">Kabino Bedside Table</a></h5>
														</div>
														<div class="mini-cart-remove">
															<button><i class="ti-close"></i></button>
														</div>
													</li>
												</ul>
												<div class="minicart-total fix">
													<span class="pull-left">total:</span>
													<span class="pull-right">$460.00</span>
												</div>
												<div class="mini-cart-checkout">
													<a href="shopping-cart.html" class="btn-common view-cart">VIEW CARD</a>
													<a href="checkout.html" class="btn-common checkout mt-10">CHECK OUT</a>
												</div>
											</div>
										</li>
										<li><a th:href="@{/login}" ><i class="fa fa-user-o"></i>Se connecter</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
       <div class="row" style="margin-left: 4rem; margin-top: 3rem;" > 
         <div>
               <span> Contactez-nous et nous vous répondrons dans les 24 heures</span> <br>
               <i class="fa fa-map-marker" aria-hidden="true"></i> <span> Dakar, Sénégal</span>  <br>         
               <i class="fa fa-phone" aria-hidden="true"></i><span>+221 70 151 15 15 </span>     <br>
               <i class="fa fa-envelope" aria-hidden="true"></i> <span>attoly@gmail.com</span> 
         </div>
      
         <div style="margin-left: 4rem; margin-top: 1px;">
             <div>
                 <h3><span style="color: #73d216;"> CONTACT</span></h3>  
             </div>
            <form  class="container" method="post">
	            <div class="row">
	        		<div class="form-group" style="width: 22rem;">
	        		  	  <input type="text" name="name" class="form-control"
							placeholder="Nom" />
					</div>	    
				    <div class="form-group" style="width: 22rem; margin-left: 4px;">
						<input type="text" name="name" class="form-control" 
							placeholder="Email" required="required">
			       </div>
         	    </div>
		    	<div class="row">
		        	<textarea rows="4" cols="50" class="form-control" name="message" placeholder="Ecrivez le message.."
		        	  required="required"
		        	></textarea>
				</div> 
			</form>
			 <div class="container" style="margin-top: 6px; margin-bottom: 5rem;">
				   <button type="submit" class="btn btn-sm" style="margin-left: 90%; color: #73d216">
				   <i class="fa fa-paper-plane" aria-hidden="true"></i>Envoyer</button>
			 </div>
         </div>
       </div>
	</div>
</header>
<script th:src="@{/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
	<!-- jquery-3.3.1 version -->
	<script th:src="@{/assets/js/vendor/jquery-3.2.1.min.js}"></script>
	<!-- bootstra.min js -->
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>
	<!-- mmenu js -->
	<script th:src="@{/assets/js/jquery.mmenu.js}"></script>
	<!-- easing js -->
	<script th:src="@{/assets/js/jquery.easing.min.js}"></script>
	<!---slick-js-->
	<script th:src="@{/assets/js/slick.min.js}"></script>
	<!---letteranimation-js-->
	<script th:src="@{/assets/js/letteranimation.min.js}"></script>
	<!-- jquery-ui js -->
	<script th:src="@{/assets/js/jquery-ui.min.js}"></script>
	<!-- jquery.countdown js -->
	<script th:src="@{/assets/js/jquery.countdown.min.js}"></script>
	<!-- venobox js -->
	<script th:src="@{/assets/js/venobox.min.js}"></script>
	<!-- plugins js -->
	<script th:src="@{/assets/js/plugins.js}"></script>
	<!-- main js -->
	<script th:src="@{/assets/js/main.js}"></script>
<!-- 	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
 -- <!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> --> 
	
 <script type="text/javascript">
$(document).ready(function(){
	
   $("#keyword").on("keyup", function(event) {
	   if (event.keyCode === 13) {
		   event.preventDefault();
		   var keyword = $(this).val();
       	   $.ajax({
    		 type: "GET",
             contentType: "application/json",
             url: '/search/products?keyword='+keyword,
             data: {},
             dataType: 'json',
             cache: false,
             timeout: 600000, 
             success: function (data) {
 	            console.log("SUCCESS : ", data);
 	            if(data.msg=="success"){
 	               $.each(data.result,function(index,res){
 	                  $('#load_results').append(
 	                    '<div class="row">'
 	                       + '<div class="col-md-3">' + '<img th:src="@{${res.imagePath1}}"  style="width:4em" alt="product image">'+
/* 			               +  '<span class="text-primary"><?=$user['first_name'];?> <?=$user['last_name'];?></span>'+ 
 */			               + '</div>'
 	                       + '<div class="col-md-7">' +res.name + '<div>'
 	                    +'</div>'
 	                  );
 	                });
 	            }
 	            if(data.msg=="no_result")
            	 $('#load_results').html('<span style="color:red;">'+"Aucun resultat trouve"+'</span>');
             },
             error: function (e) {
 	            console.log("ERROR : ", e);
            } 
          });
	  }
	});
});
</script> 




