
  
  <!--Shop-->
      <div class="products-tab-area mt-45 mt-sm-45">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3 col-md-3 pr-0">
					<div class="section-title section-title-shop">
						<h2 class="category">Boutique </h2>
					</div>
				</div>
			</div>
			<div th:if="${shopExist==true}" class="tab-content">
				<div id="shop" class="tab-pane fade in show active">
					<div class="row product-carousel cv-visible">
						<div class="col-lg-12 shopContainer" data-th-each="product : ${shopList}">
							<div th:if="${product.galery !=null  and product.galery.image1 !='' and product.galery.image2 !='' and product.galery.image3 !='' and product.galery.image4 !=''}"	
							 class="product-single" style="background-color:  #e8e8e8 !important;">
								<div class="product-title">
								 
								   <h4 style="font-size: 12px; text-align: center;" th:text="${#strings.abbreviate(product.name,18)}"></h4>                                      
							  
								</div>
								<div  class="product-thumb product-thumb-shop">
									<a href="#">
										 <img width="100%" height="150rem"
											class="img-responsive" style="object-fit: cover;"
										   th:src="@{${awsBucketShop}+${product.galery.id}+'/'+${product.galery.image1}}" alt=""  
							 
												   th:data-id          = "${product.id}"
												   th:data-name        = "${product.name}"
												   th:data-detail      = "${product.detail}"
												   th:data-upprice     = "${product.upPrice}"
												   th:data-price       = "${product.price}"
												   th:data-quantity    = "${product.quantity}"												            
												   th:data-category    = "${product.subCategory.category.name}"
												   th:data-subcategory = "${product.subCategory.name}"												       
												   th:data-deliveryprice = "${product.deliveryPrice}"
												   th:data-image1="@{${awsBucketShop}+${product.galery.id}+'/'+${product.galery.image1}}" 
												   th:data-image2="@{${awsBucketShop}+${product.galery.id}+'/'+${product.galery.image2}}" 
												   th:data-image3="@{${awsBucketShop}+${product.galery.id}+'/'+${product.galery.image3}}" 
												   th:data-image4="@{${awsBucketShop}+${product.galery.id}+'/'+${product.galery.image4}}"
												 data-toggle="modal" data-target="#quickViewModal"
											/>
									 </a>
										<div class="downsale"><span th:text="${product.downsale}"></span></div>
											<div class="product-quick-view">
												 <a href="javascript:void(0);"
												   th:data-id          = "${product.id}"													
												   th:data-name        = "${product.name}"
												   th:data-detail      = "${product.detail}"
												   th:data-upprice     = "${product.upPrice}"
												   th:data-price       = "${product.price}"
												   th:data-quantity    = "${product.quantity}"												       												      
												   th:data-category    = "${product.subCategory.category.name}"
												   th:data-subcategory = "${product.subCategory.name}"												       
												   th:data-deliveryprice = "${product.deliveryPrice}"												    
												   th:data-image1="@{${awsBucketShop}+${product.galery.id}+'/'+${product.galery.image1}}" 
												   th:data-image2="@{${awsBucketShop}+${product.galery.id}+'/'+${product.galery.image2}}" 
												   th:data-image3="@{${awsBucketShop}+${product.galery.id}+'/'+${product.galery.image3}}" 
												   th:data-image4="@{${awsBucketShop}+${product.galery.id}+'/'+${product.galery.image4}}"
												 data-toggle="modal" data-target="#quickViewModal">Vue rapide</a> 
											</div>
								</div>
								<div class="product-price-rating" id="supermarket">
									<div class="pull-left">
										<span th:text="${product.price}+' XOF'"></span> <br>
										<del class="initialPrice" style="font-size: 13px;" th:text="${product.upPrice}+ ' XOF'"> </del>
									</div>
								</div>
<!-- 									<div class="product-action">
									<a href="javascript:void(0);" class="product-compare"><i class="ti-control-shuffle"></i></a>
									<a href="javascript:void(0);" class="add-to-cart">Ajouter</a>
									<a href="javascript:void(0);" class="product-wishlist"><i class="ti-heart"></i></a>
								</div> -->
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div> 
	<!--End Shop-->