<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<link rel="stylesheet" th:href="@{/assets/css/styleSpeciality.css}">

<div class="specialityDiv" style="display: inline; margin-top: 2rem; margin-left: 1rem;">
    <span style="margin-left: 2rem;"><strong style="color: #6FB70F;">Spécialités</strong></span>
     <div data-th-each="speciality : ${specialityTop4List}" class="container"
        style=" margin-left: 1rem;  margin-top: -5px !important">
         <a class="dropdown-toggle" style="color: black; 
             margin-left: 1.5rem;"
             href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <i class="fa fa-navicon"></i>
            <span th:text="${speciality.name}"> </span>
        </a>
        <div class="dropdown-menu specialityItemMenu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item specialityItemDetail"> 
                <!-- <i class="fa fa-shopping-basket" aria-hidden="true"></i>  -->
              <span th:text="${speciality.detail}"> </span>
            </a>
        </div>
     </div>
     <a th:href="@{/company/service/allSpecialities/}+${company.id}" th:if="${specialityList.size()>4}">
         <span style="font-size: 10px; margin-left: 4rem;">Voir la suite</span>
     </a>
 </div>