<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/headerDashboard :: common-header" />

<body>
	<div th:replace="common/headerDashboard :: navbar"></div>
       	<div class="container">
		  <div class="row">
			<form class="form-horizontal" th:action="@{/speciality/add}" method="post">
 				    <div class="alert alert-danger text-black" role="alert">
					   Ajouter une Spécialité
					    <span style="font-size: small"> * Champ obligatoire</span>
					</div>	 		
		
					<div class="form-group">
 						<label class="col-md-2 control-label" for="name">*
 							Nom</label>
						<div class="col-md-6">
							<input
							   type="text" name="name" required="required"
								class="form-control" id="name" placeholder="Precisier le nom" />
							<span class="help-block">Nom</span>
						</div>
					</div>
				   
					<div class="form-group">
						<label class="col-md-2 control-label">* Détails</label>
						<div class="col-md-6">
							<textarea
							rows="3" name="detail" 
								class="form-control" placeholder="Precisier les détails" ></textarea>
							<span class="help-block">Détails</span>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<button type="submit" class="btn btn-success">Valider</button>
 						</div>
					</div>
 			</form>
		</div>
	</div>
	<div th:replace="common/headerDashboard :: body-bottom-scripts"></div>
</body>
</html>
