<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/headerDashboard :: common-header" />

<body>
	<div th:replace="common/headerDashboard :: navbar"></div>
	<div class="container">
		<div>
			<ol class="breadcrumb">
				<li><a th:href="@{/speciality/updateSpeciality?id=}+${speciality.id}">Editer</a></li>
			</ol>
		</div>
		<div class="row">
			<div class="col-xs-7">
			    <h4><strong>spécialité: </strong><span th:text="${speciality.name}"></span></h4>
			</div>
		</div>
	   
	   <fieldset><legend style="font-size: medium;">Details</legend></fieldset>
	   <div class="panel panel-default" style="border-width: 5px;width: 100%;">
		   <div class="panel-body">  
                <span th:utext="${speciality.detail}"></span>
		   </div>
	   </div>  
	</div>
	<div th:replace="common/headerDashboard :: body-bottom-scripts"></div>
		
</body>
</html>
