<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<link rel="stylesheet" th:href="@{/assets/css/styleDashboard.css}">

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
 <!--    <a href="index3.html" class="brand-link">    
      <img src="/assets/images/logos/logo.png" alt="Attoly Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
       <span class="brand-text font-weight-light">Attoly</span>
     </a> -->

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <a th:href="@{/}">
            <img th:src="@{${awsBucketIcon}+'logo.png'}"  alt="Attoly Logo" class="brand-image"
               style="width: 65%; cursor: pointer;">
          </a>
           <!--    <img src="/assets/images/logos/logo.png" alt="Attoly Logo" 
                             
               class="brand-image"
               style="width: 65%; cursor: pointer;"
             	th:data-companyimage      = "@{/assets/images/logos/logo.png}"
             	 data-toggle="modal" data-target="#quickViewModal"
               > -->
             <span style="color: white;" th:utext="${user.username}">
        </span>
      <!--     <img
               th:src="@{${user.imagePath}}"
               class="img-circle elevation-2" alt="User Picture"> -->
        </div>
   <!--      <div class="info" >
          <a th:href="@{/profile}" class="d-block" th:utext="${user.username}"></a>      
      </div> -->
      </div>

      <!-- SidebarSearch Form -->
    <!--   <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div> -->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
            <ul th:if="${userRole1}" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Tableau de bord
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
       <!--      <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/company/companyInfo}" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Magasin</p>
                </a>
              </li>
            </ul> -->
          </li>
          <li  class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Villes de livraison
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
	                <a th:href="@{/townAvailable/add}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>Ajouter une ville de livraison</p>
	                </a>
                </li> 
	            <li class="nav-item">
	                <a th:href="@{/townAvailable/all}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>Les villes de livraison </p>
	                </a>
	            </li>
             </ul>
          </li>
           <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Commandes
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/order/all}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Récentes commandes</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/order/historical}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Historique des commandes</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Boutique
                <i class="fas fa-angle-left right"></i>
<!--                 <span class="badge badge-info right">6</span>
 -->          </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/shop/add}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ajouter un produit</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/shop/shopList}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Tous les produits</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Achat groupé
                <i class="fas fa-angle-left right"></i>
<!--                 <span class="badge badge-info right">6</span>
 -->          </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/groupSale/add}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ajouter un achat</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/groupSale/groupSaleList}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Tous les achats groupés</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Affiche PC
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
                 <li class="nav-item">
                <a th:href="@{/advertise/add}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ajouter une affiche</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/advertise/update}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Voir l'affiche</p>
                </a>
              </li>
            </ul>
          </li> 
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Affiche Tablet
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
                 <li class="nav-item">
                <a th:href="@{/advertise/tablet/add}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ajouter une affiche</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/advertise/tablet/update}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Voir l'affiche</p>
                </a>
              </li>
            </ul>
          </li> 
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Affiche Mobile
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
                 <li class="nav-item">
                <a th:href="@{/advertise/mobile/add}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ajouter une affiche</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/advertise/mobile/update}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Voir l'affiche</p>
                </a>
              </li>
            </ul>
          </li> 
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Contacts-Règles
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/contact/add}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Contact</p>
                </a>
              </li>
            </ul>
          </li> 
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Partenaires
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/partner/add}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ajouter un partnenaire</p>
                </a>
              </li>
            
              <li class="nav-item">
                <a th:href="@{/partner/partnerList}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Partenaires</p>
                </a>
              </li>
            </ul>
          </li> 
        </ul>
      
        
        <ul th:if="${userRole2}" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li  class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Tableau de bord
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
      <!--       <ul th:if="${company !=null and company.galery !=null}"  class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/company/companyInfo}" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Magasin</p>
                </a>
              </li>
            </ul> -->
          </li>
          <li th:if="${company !=null and company.galery !=null}"  class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Villes de livraison
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
	                <a th:href="@{/townAvailable/add}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>Ajouter une ville de livraison</p>
	                </a>
                </li> 
	            <li class="nav-item">
	                <a th:href="@{/townAvailable/all}" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>Les villes de livraison </p>
	                </a>
	            </li>
             </ul>
          </li>
           <li th:if="${company !=null and company.galery !=null}" class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Horaires de travail
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview"> 
               <li class="nav-item">
                <a th:href="@{/workingHour/add}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ajouter un horaire de travail</p>
                </a>
              </li> 
              <li class="nav-item">
                <a th:href="@{/workingHour/all}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Horaires de travail </p>
                </a>
              </li> 
           </ul> 
          </li>  
          <li th:if="${company !=null and company.galery !=null}"  class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Produits
                <i class="fas fa-angle-left right"></i>
<!--                 <span class="badge badge-info right">6</span>
 -->          </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/product/add}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ajouter un produit</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/product/productList}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Tous les produits</p>
                </a>
              </li>
            </ul>
          </li>
       
           <li th:if="${company !=null and company.galery !=null}"  class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Commandes
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/order/all}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Toutes les commandes</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/order/historical}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Historique des commandes</p>
                </a>
              </li>
            </ul>
          </li>     
        </ul>
        
        <ul th:if="${userRole3}" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Tableau de bord
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
          <!--   <ul th:if="${company !=null and company.galery !=null}"  class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/company/companyInfo}" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Service</p>
                </a>
              </li>
            </ul> -->
          </li>
  
           <li th:if="${company !=null and company.galery !=null}"  class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Catalogues
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/catalog/add}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ajouter un article</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/catalog/catalogList}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Tous les articles</p>
                </a>
              </li>
            </ul>
          </li>
          
          <li th:if="${company !=null and company.galery !=null}"  class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Spécialités
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/speciality/add}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ajouter une Spécialité</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/speciality/specialityList}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Toutes les Spécialités</p>
                </a>
              </li>
            </ul>
          </li>
              
         
          
           <li th:if="${company !=null and company.galery !=null}"  class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Rendez-vous
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/order/all}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Tous les rendez-vous</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/order/historical}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Historique</p>
                </a>
              </li>
            </ul>
          </li> 
           <li th:if="${company !=null and company.galery !=null}"  class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Agenda
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
               <li class="nav-item">
                <a th:href="@{/agenda/add}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Modifier l'agenda</p>
                </a>
              </li> 
              <li class="nav-item">
                <a th:href="@{/agenda/all}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Tout l'agenda</p>
                </a>
              </li>
            </ul>
            
          </li> 
          
        </ul>
        <!-- CUSTOMER -->
       <!--    <ul th:if="${userRole4}" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library
          <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Tableau de bord
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Commandes
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/order/all}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Mes commandes</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/order/historical}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Historique des commandes</p>
                </a>
              </li>
            </ul>
          </li>
        </ul> -->
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
	<script th:src="@{/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>
	<!-- AdminLTE App -->
	<script th:src="@{/adminlte/dist/js/adminlte.js}"></script>
<script th:src="@{/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
	<!-- jquery-3.3.1 version -->
	<script th:src="@{/assets/js/vendor/jquery-3.2.1.min.js}"></script>
	<!-- bootstra.min js -->
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>
	<!-- mmenu js -->
	<script th:src="@{/assets/js/jquery.mmenu.js}"></script>
	<!-- easing js -->
	<script th:src="@{/assets/js/jquery.easing.min.js}"></script>
	
	<!-- Bootstrap 4 -->
	<script th:src="@{/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<!-- ChartJS -->
	<script th:src="@{/adminlte/plugins/chart.js/Chart.min.js}"></script>
	<!-- Sparkline -->
	<script th:src="@{/adminlte/plugins/sparklines/sparkline.js}"></script>
	<!-- JQVMap -->
	<script th:src="@{/adminlte/plugins/jqvmap/jquery.vmap.min.js}"></script>
	<script th:src="@{/adminlte/plugins/jqvmap/maps/jquery.vmap.usa.js}"></script>
	<!-- jQuery Knob Chart -->
	<script th:src="@{/adminlte/plugins/jquery-knob/jquery.knob.min.js}"></script>
	<!-- daterangepicker -->
	<script th:src="@{/adminlte/plugins/moment/moment.min.js}"></script>
	<script th:src="@{/adminlte/plugins/daterangepicker/daterangepicker.js}"></script>
	<!-- Tempusdominus Bootstrap 4 -->
	<script th:src="@{/adminlte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>
	<!-- Summernote -->
	<script th:src="@{/adminlte/plugins/summernote/summernote-bs4.min.js}"></script>
	<!-- overlayScrollbars -->

	<!-- AdminLTE for demo purposes -->
	<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
	<script th:src="@{/adminlte/dist/js/pages/dashboard.js}"></script>
	<script>
    $(document).ready(function(){
    	$("#quickViewModal").modal({
            keyboard: true,
            backdrop: "static",
            show: false,
            
        }).on("show.bs.modal", function(event){
        	var button        = $(event.relatedTarget);
            var companyimage  = button.data('companyimage');
            $(this).find("#companyimage").attr("src", companyimage);
        })
    });
</script>
	
	<div class="modal fade quickViewModal" id="quickViewModal" tabindex="-1"
	 role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
			
				<div class="modal-body">
					<img id="companyimage" alt="Company image" 
					width="100%" height="175px" style="margin-left: 13%;"
					 />
				</div>
			</div>
		</div>
	</div>
