<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="include/head"/><head>
<style type="text/css">

  	.btn-success {
	  background-color: #6FB70F !important;
	  border-color: #6FB70F !important;
	}
    .btn-success:hover,
    .btn-success:active,
    .btn-success:visited,
    .btn-success:focus {
      background-color: #6FB70F !important;
      border-color: #6FB70F !important;
    }  
</style>
<body style="background-color: #e8e8e8;">	
    <!--header-->
	 <div th:replace="include/navbar"></div>
	 
     <section class="content">
	      <div class="container-fluid">
	         <strong>
	              <span>Panier(</span>
	              <span th:text="${bookingBegunList.size}"></span><span> articles)</span>
	         </strong>
	      
	      	  <div class="table-responsive">
			<table id="storeListTable" class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th width="90px;">Article</th>
						 <th width="5px;">Quantité</th>
						 <th width="5px;">Prix unitaire</th>
						<th width="5px;">Sous-total</th>
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="booking : ${bookingBegunList}">
					
						<td>
					        <div class="row">
					            <div class="col-md-2">
					                <a th:href="@{/product/productInfo(id=${booking.product.id})}">
								      <img
							            class="img-responsive" 
										style="height: 60px;width: 80%;object-fit: cover;"
							            th:src="@{${booking.product.imagePath1}}" /> 
								    </a>
					            </div>
					            <div class="col-md-10">
					              <span>Vendeur:</span> <span th:text="${booking.product.user.lastName}"></span>
					               <span th:text="${booking.product.user.firstName}"></span>
					              <br>
					              <strong>
					                    <span style="font-size: 18px;" th:text="${#strings.abbreviate(booking.product.detail,100)}"></span> 
					              </strong>
			    	            </div>	
					            <div class="container" style="margin-left: 7rem;margin-top: 2rem;">
                                 <a href="#" style="margin-left: 10px;">
      					              <i class="fa fa-trash colorText" style="text-transform: uppercase;">Supprimer</i>                             
                                 </a>
					            </div>  
					        </div>
					     </td>
						<td><a th:href="@{/product/productInfo(id=${booking.product.id})}">
						  <span th:text="${booking.quantity}" class="colorText"></span></a>
						</td>
						<td th:text="${booking.product.price}"></td>	
						<td class="colorText" th:text="${booking.total_price}"></td>
					</tr>
				</tbody>
			</table>
			<div class="container">
			  <span style="margin-left: 49rem;">Total: </span>
			  <span style="margin-left: 2rem;" class="colorText">
			   <strong >
			     <span th:text="${total_price_orders}"></span><span> FCFA</span>
			   </strong>
			  </span> 
			  <strong>
			     <span style="margin-left: 39rem;">Frais de livraison inclus</span>
			  </strong>
			
			   <a th:href="@{/login}">
			      <button type="submit" class="btn btn-success  btn-block" style="margin-top: 2rem;"
			    >
			         Valider vos commandes
 			  </button>
 			   </a>
			  </div>
		
			</div>
		</div>
	  </div>
			
	    </section>
	 
	

	<!-- JS  -->
		
<script th:src="@{/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
	<!-- jquery-3.3.1 version -->
	<script th:src="@{/assets/js/vendor/jquery-3.2.1.min.js}"></script>
	<!-- bootstra.min js -->
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>
	<!-- mmenu js -->
	<script th:src="@{/assets/js/jquery.mmenu.js}"></script>
	<!-- easing js -->
	<script th:src="@{/assets/js/jquery.easing.min.js}"></script>
	<!---slick-js-->
	<script th:src="@{/assets/js/slick.min.js}"></script>
	<!---letteranimation-js-->
	<script th:src="@{/assets/js/letteranimation.min.js}"></script>
	<!-- jquery-ui js -->
	<script th:src="@{/assets/js/jquery-ui.min.js}"></script>
	<!-- jquery.countdown js -->
	<script th:src="@{/assets/js/jquery.countdown.min.js}"></script>
	<!-- venobox js -->
	<script th:src="@{/assets/js/venobox.min.js}"></script>
	<!-- plugins js -->
	<script th:src="@{/assets/js/plugins.js}"></script>
	<!-- main js -->
	<script th:src="@{/assets/js/main.js}"></script>	
   


</body>
</html>