<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>La MAISON DE CRÉATION KIA /THE DESIGN HOUSSE KIA</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.0/css/all.css">


<!-- Own styles -->
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/styleNavbar.css}">
<link rel="stylesheet" th:href="@{/css/styleWelcome.css}">



<body>
   <div th:replace="include/navbar"></div>
 
    <div class="container-fluid"  style="margin-top: 6rem;">
        <strong>
              <span>Panier(</span>
              <span th:text="${cartList.size}"></span><span> articles)</span>
         </strong>
	      
        <div class="panel panel-primary">
            <div class="panel-body">
              <table th:if="${not #lists.isEmpty(cartList)}"
              class="table table-striped table-bordered table-sm row-border hover" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th>Produit</th>
                        <th>Quantité</th>
                        <th>Prix unitaire</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr data-th-each="c : ${cartList}">
                        <td> 
                          <p> 
                            <span th:text="${c.product.name}"></span>
                          </p>
                          <a href="">
                            <img 
                              th:src="@{${bProduct}+${c.product.galery.id}+'/'+${c.product.galery.image1}}"
                              alt="image of Product"
                          >
                          </a>
                        </td>
                       
                        <td>
                          <button class="btn-sm">
                            <i class="fas fa-caret-left fa-2x"></i>
                        </button>  
                        
                        <span th:text="${c.quantity}"></span>
                        <button  class="btn-sm">
                            <i class="fas fa-caret-right fa-2x"></i>
                        </button> 
                        </td>
                        <td>
                          <span th:text="${c.product.price}"></span>
                         </td>
                        <td> 
                           <span th:text="${c.total}"> </span>
                        </td> 
                      </tr>
                    </tbody>
              </table>
            </div>
            <div class="checkoutContainer">
              <span class="text-dark"> Montant Total: </span> 
              <strong  style="font-size: 18px;"><span th:text="${total_amount}"> </span> </strong> <br>
               <a th:href="@{/customer}">
                 <button type="button" class="btn btn-primary btn-sm checkoutBtn" style="border-radius: 13px;">
                  <span style="color: white;">Payer maintenant</span>
               </button>
               </a>
             </div>
          </div> 
    </div>

 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js" integrity="sha384-3ziFidFTgxJXHMDttyPJKDuTlmxJlwbSkojudK/CkRqKDOmeSbN6KLrGdrBQnT2n" crossorigin="anonymous"></script>



    <!--End Front Script-->
</body>
</html>