<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="include/head"></head>
<link rel="stylesheet" th:href="@{/assets/css/styleContact.css}">

<body style="background-color: #e8e8e8 !important; ">	
     <div th:replace="include/navbar"></div>
     <div class="row infoResponsive"> 
         <div th:if="${contactExists == true}">
               <span> Contactez-nous et nous vous répondrons dans les 24 heures</span> <br>
               <i class="fa fa-map-marker" aria-hidden="true"></i>
			  
				<span th:text="${contact.town}"></span> /
				<span th:text="${contact.country}"></span>
				<br>         
               <i class="fa fa-phone" aria-hidden="true"></i>
			   <span th:text="${contact.phone}"></span>
			   <br>
               <i class="fa fa-envelope" aria-hidden="true"></i>
			   <span  th:text="${contact.email}"></span>

         </div>
      
         <div class="contactResponsive">
             <div>
                 <h3><span style="color: #6FB70F;"> CONTACT</span></h3>  
             </div>
            <form  class="container" method="post">
	            <div class="row">
	        		<div class="form-group">
	        		  	  <input type="text" name="name" class="form-control"
							placeholder="Nom" />
					</div>	    
				    <div class="form-group formEmail">
						<input type="text" name="name" class="form-control" 
							placeholder="Email" required="required">
			       </div>
         	    </div>
		    	<div class="row formMessageDiv">
		        	<textarea rows="4" cols="50" class="form-control formMessage" name="message" placeholder="Ecrivez le message.."
		        	  required="required" 
		        	></textarea>
				</div> 
			</form>
			 <div class="container submitResponsive" style="margin-top: 6px; margin-bottom: 5rem;">
				   <button type="submit" class="btn btn-sm btn-success">
				   <i class="fa fa-paper-plane" aria-hidden="true"></i>Envoyer</button>
			 </div>
         </div>
       </div>
       
       <script th:src="@{/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
	<!-- jquery-3.3.1 version -->
	<script th:src="@{/assets/js/vendor/jquery-3.2.1.min.js}"></script>
	<!-- bootstra.min js -->
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>
	<!-- mmenu js -->
	<script th:src="@{/assets/js/jquery.mmenu.js}"></script>
	<!-- easing js -->
	<script th:src="@{/assets/js/jquery.easing.min.js}"></script>
	<!---slick-js-->
	<script th:src="@{/assets/js/slick.min.js}"></script>
	<!---letteranimation-js-->
	<script th:src="@{/assets/js/letteranimation.min.js}"></script>
	<!-- jquery-ui js -->
	<script th:src="@{/assets/js/jquery-ui.min.js}"></script>
	<!-- jquery.countdown js -->
	<script th:src="@{/assets/js/jquery.countdown.min.js}"></script>
	<!-- venobox js -->
	<script th:src="@{/assets/js/venobox.min.js}"></script>
	<!-- plugins js -->
	<script th:src="@{/assets/js/plugins.js}"></script>
	<!-- main js -->
	<script th:src="@{/assets/js/main.js}"></script>	
	<!--footer-area start-->
	<footer th:replace="include/footer"></footer>
	
		<!--footer-area end-->
</body>
</html>