
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">	
<head th:replace="include/head"></head>
 <style type="text/css">
 	.btn-success {
	  background-color: #6FB70F !important;
	  border-color: #6FB70F !important;
	}
   .btn-success:hover,
    .btn-success:active,
    .btn-success:visited,
    .btn-success:focus {
      background-color: #6FB70F !important;
      border-color: #6FB70F !important;
    }
 </style>
 <body style="background-color: #e8e8e8;">
       <div th:replace="include/navbar"></div>
 
	  <div class="container container-fluid">
	  
	<!--     <div>
	         <a th:href="@{/}" class="navbar-brand"> 
		         <img src="/assets/images/logos/logo.png" alt="logo" height="39px;" />
		     </a>
	    </div> -->
	    <div class="createAccount" style="margin-top: 15px;">
	       <h4 style="margin-bottom: 4rem; text-align: center;">
	            <span>Cr&eacute;ation d'un nouveau compte</span>
	            <hr>
	       </h4>
	      <form th:action="@{/createAccount}" enctype="multipart/form-data"  method="post">
	      	  <div class="form-group">
			    <label for="exampleFormControlSelect1">Type de compte</label>
			    <select class="form-control" id="exampleFormControlSelect1" name="role">
			      <option value="ROLE_STOREKEEPER">Magasin</option>
			      <option value="ROLE_SERVICE">Service</option>
			    </select>
			  </div>
		      <div class="form-group">
			    <label for="exampleFormControlInput1">Nom d'utilisateur</label>
			    <span
					style="color: red;" th:if="${usernameExists}">Ce nom d'utilisateur existe d&eacute;j&agrave;.
					Choisissez-en un autre.
				</span>
			    <input type="text" class="form-control" id="exampleFormControlInput1" 
			       placeholder="Nom d'utilisateur" name="username">
			  </div>
			  <div class="form-group">
			    <label for="exampleFormControlInput1">Adresse email</label>
			    <span
					style="color: red;" th:if="${emailExists}">Email
					d&eacute;j&agrave; existant. Choisissez-en un autre.
				</span> 
			    <input type="email" class="form-control" id="exampleFormControlInput1" 
			       placeholder="nom@example.com" name="email"> 
			  </div>
		      <div class="form-group">
					<label for="lastName">Nom</label> 
					<input type="text" required="required" placeholder="Votre nom"
						class="form-control" id="lastName" name="lastName"
						 />
				</div>
		      <div class="form-group">
					<label for="firstName">Pr&eacute;nom(s)</label>
					 <input
						type="text" class="form-control" id="firstName" required="required"
						name="firstName" placeholder="Votre(vos) Pr&eacute;nom(s)" />
				</div>
								
			  <div class="form-group">
					<label for="userName">Num&eacute;ro de t&eacute;l&eacute;phone</label>
					  <input type="text"
						class="form-control" id="userPhone" name="phone" required="required"
						placeholder="Numéro de téléphone "
						 />
				</div>
			    <div class="form-group">
					<label for="userName">Num&eacute;ro Whatsapp</label>
					  <input type="text"
						class="form-control" name="whatsapp" required="required"
						placeholder="Numéro Whatsapp "
					  />
				</div>
			<!-- 	<div class="form-group">
					<label for="userName">Lien du profil Facebook</label>
					  <input type="text"
						class="form-control" name="facebook" placeholder="Profil Facebook "
					  />
				</div>
				<div class="form-group">
					<label for="userName">Lien du profil Instagram</label>
					  <input type="text"
						class="form-control" name="instagram" placeholder="Profil Instagram"
					 />
				</div>
			    <div class="form-group">
					<label for="userName">Lien du profil Twitter</label>
					  <input type="text"
						class="form-control" name="twitter" placeholder="Profil Twitter"
						 />
				</div> -->
		
			    <div class="form-group">
					   	 <label class="control-label"> Ville</label>
							<select name="town" class="form-control">
						       <option data-th-each="town : ${townList}" th:value="${town.name}" th:text="${town.name}">
						       </option>
						    </select>
				</div>
		        <div class="form-group">
					<label for="userName">Quartier</label>
					  <input type="text" required="required"
						class="form-control" name="district" placeholder="Quartier"
						 />
				</div>
				<div class="form-group">
					<label>Adresse</label>
					  <textarea placeholder="Precisier votre adresse"
						class="form-control" name="address" required="required"
						 ></textarea>
				</div>
	
				<div class="form-group">
					<label for="txtNewPassword">Mot de passe</label>&nbsp;<span
						id="checkPasswordMatch" style="color: red;"></span> 
						<input required="required" placeholder="Mot de passe"
						type="password" class="form-control" id="txtNewPassword"
						name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                   title="Doit contenir au minimum un nombre, une lettre majuscule, une lettre minuscule et au moins 8 charactères"/>
				</div>   
		<!-- 		<div class="form-group">
					<label for="txtConfirmPassword">Confirmer le mot de passe</label> 
					 <input required="required" placeholder="Confirmer le mot de passe"
						type="password" class="form-control" id="txtConfirmPassword" />
				</div>
		 -->
			      <div class="form-group">
                           <p>
                              <img alt="Visualiser la photo" id="thumbnail0"/>
                           </p>
                           <p>
                              <label> Votre photo</label>  
                           </p>
                           <div class="col-xs-3">
                               <input type="file"
                                  name="extraImageFile" required="required" accept="image/png, image/jpeg"/> 
                           </div>
                      
				   </div>
			  
			     <div style="margin-bottom: 3rem;" >
			          <button type="submit" class="btn btn-success btn-block" style="margin-top: 1rem;">
					         Valider
					  </button>
			     </div>
	     </form> 
	    </div>
	  </div>
<script th:src="@{/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
	<!-- jquery-3.3.1 version -->
	<script th:src="@{/assets/js/vendor/jquery-3.2.1.min.js}"></script>
	<!-- bootstra.min js -->
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>
	<!-- mmenu js -->
	<script th:src="@{/assets/js/jquery.mmenu.js}"></script>
	<!-- easing js -->
	<script th:src="@{/assets/js/jquery.easing.min.js}"></script>
	<!---slick-js-->
	<script th:src="@{/assets/js/slick.min.js}"></script>
	<!---letteranimation-js-->
	<script th:src="@{/assets/js/letteranimation.min.js}"></script>
	<!-- jquery-ui js -->
	<script th:src="@{/assets/js/jquery-ui.min.js}"></script>
	<!-- jquery.countdown js -->
	<script th:src="@{/assets/js/jquery.countdown.min.js}"></script>
	<!-- venobox js -->
	<script th:src="@{/assets/js/venobox.min.js}"></script>
	<!-- plugins js -->
	<script th:src="@{/assets/js/plugins.js}"></script>
	<!-- main js -->
	<script th:src="@{/assets/js/main.js}"></script>
	
   <script type="text/javascript">
    function checkPasswordMatch() {
 	  // alert("hommmmmm");
 	/* 	var password = $("#txtNewPassword").val();
		var confirmPassword = $("#txtConfirmPassword").val();
	
		if(password != confirmPassword) {
			$("#checkPasswordMatch").html("Passwords do not match!");
		} else {
			$("#checkPasswordMatch").html("Passwords match");		
		} */
	}
   </script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("input[name='extraImageFile']").each(function(index){
				$(this).change(function(){
					showExtraImageThumbnail(this,index);
				});
			});
			function showImageThumbnail(fileInput){
				file = fileInput.files[0];
				reader = new FileReader();
				
				reader.onload = function(e){
					$('#thumbnail').attr('src',e.target.result);
				}
				reader.readAsDataURL(file);
			}
			
			function showExtraImageThumbnail(fileInput,index){
				file = fileInput.files[0];
				reader = new FileReader();
				
				reader.onload = function(e){
					$('#thumbnail'+index).attr('src',e.target.result);
				}
				reader.readAsDataURL(file);
			}
			
		})
	</script>
	</body>
</html>