
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">	
<head th:replace="include/head"/><head>
<style type="text/css">
  .forgotPassword:hover {
    background: #6FB70F;
  }
  	.btn-success {
	  background-color: #6FB70F !important;
	  border-color: #6FB70F !important;
	}
   .btn-success:hover,
    .btn-success:active,
    .btn-success:visited,
    .btn-success:focus {
      background-color: #6FB70F !important;
      border-color: #6FB70F !important;
    }
   
</style>
 
 <body style="background-color: #e8e8e8;">
      <div th:replace="include/navbar"></div>
 
	  <div class="container container-fluid">
	<!--   
	    <div>
	         <a th:href="@{/}" class="navbar-brand"> 
		         <img src="/assets/images/logos/logo.png" alt="logo" height="39px;" />
		     </a>
	    </div> -->
	    <div class="createAccount" style="margin-top: 15px;">
	       <h4 style="margin-bottom: 4rem; text-align: center;">
	             <span  th:if="${type == 'store'}" >Login Compte Magasin</span>
	             <span  th:if="${type == 'service'}" >Login Compte Service</span>
	             <span  th:if="${type == 'customer'}" >Login Compte Client</span>
	            <hr> 
	       </h4>
	      
	      <div th:if="${param.error != null}" style="color:red;">Invalide nom d'utilisateur ou mot de passe.</div> 
	      <form th:action="@{/login}" method="post">
			  <div class="form-group">
			    <label for="exampleFormControlInput1">Nom d'utilisateur</label>
			    <input type="text" class="form-control" id="exampleFormControlInput1" 
			       placeholder="Nom d'utilisateur" name="username"
			       > 
			  </div>
		     
				<div class="form-group">
					<label><span> Mot de passe </span> </label>
					<input required="required" placeholder="Mot de passe"
					type="password" class="form-control" 
					name="password" />
				</div>			  
			  
			  <button type="submit" class="btn btn-success  btn-block" style="margin-top: 2rem;">
			         Connexion
			  </button>
			  <div class="container forgotPassword" style="margin-top: 1rem;">
			     <a th:href="@{/forgotPassword}">
			         <span style="margin-left: 50%;font-size: 14px; color: black;">Mot de passe oubli&eacute;?</span>			     
			     </a>
			  </div>
	     </form> 
	    </div>
	 </div>
	 		
<script th:src="@{/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
	<!-- jquery-3.3.1 version -->
	<script th:src="@{/assets/js/vendor/jquery-3.2.1.min.js}"></script>
	<!-- bootstra.min js -->
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>
	<!-- mmenu js -->
	<script th:src="@{/assets/js/jquery.mmenu.js}"></script>
	<!-- easing js -->
	<script th:src="@{/assets/js/jquery.easing.min.js}"></script>
	<!---slick-js-->
	<script th:src="@{/assets/js/slick.min.js}"></script>
	<!---letteranimation-js-->
	<script th:src="@{/assets/js/letteranimation.min.js}"></script>
	<!-- jquery-ui js -->
	<script th:src="@{/assets/js/jquery-ui.min.js}"></script>
	<!-- jquery.countdown js -->
	<script th:src="@{/assets/js/jquery.countdown.min.js}"></script>
	<!-- venobox js -->
	<script th:src="@{/assets/js/venobox.min.js}"></script>
	<!-- plugins js -->
	<script th:src="@{/assets/js/plugins.js}"></script>
	<!-- main js -->
	<script th:src="@{/assets/js/main.js}"></script>	
	</body>
</html>