
<!DOCTYPE html>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>La MAISON DE CRÉATION KIA /THE DESIGN HOUSSE KIA</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
		
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.0/css/all.css">


<!-- Own styles -->
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/styleNavbar.css}">
<link rel="stylesheet" th:href="@{/css/styleWelcome.css}">

<style type="text/css">
  .forgotPassword:hover {
    background: #6FB70F;
  }
  	.btn-success {
	  background-color: #6FB70F !important;
	  border-color: #6FB70F !important;
	}
   .btn-success:hover,
    .btn-success:active,
    .btn-success:visited,
    .btn-success:focus {
      background-color: #6FB70F !important;
      border-color: #6FB70F !important;
    }
   
</style>
 
 <body style="background-color: #e8e8e8;">
    
 
	  <div class="container container-fluid">
	<!--   
	    <div>
	         <a th:href="@{/}" class="navbar-brand"> 
		         <img src="/assets/images/logos/logo.png" alt="logo" height="39px;" />
		     </a>
	    </div> -->
	    <div class="createAccount" style="margin-top: 15px;">
	       <h4 style="margin-bottom: 4rem; text-align: center;">
	             <span  th:if="${type == 'store'}" >Login Compte Magasin</span>
	             <span  th:if="${type == 'service'}" >Login Compte Service</span>
	             <span  th:if="${type == 'customer'}" >Login Compte Client</span>
	            <hr> 
	       </h4>
	      
	      <div th:if="${param.error != null}" style="color:red;">Invalide nom d'utilisateur ou mot de passe.</div> 
	      <form th:action="@{/login}" method="post">
			  <div class="form-group">
			    <label for="exampleFormControlInput1">Nom d'utilisateur</label>
			    <input type="text" class="form-control" id="exampleFormControlInput1" 
			       placeholder="Nom d'utilisateur" name="username"
			       > 
			  </div>
		     
				<div class="form-group">
					<label><span> Mot de passe </span> </label>
					<input required="required" placeholder="Mot de passe"
					type="password" class="form-control" 
					name="password" />
				</div>			  
			  
			  <button type="submit" class="btn btn-success  btn-block" style="margin-top: 2rem;">
			         Connexion
			  </button>
	     </form> 
	    </div>
	 </div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js" integrity="sha384-3ziFidFTgxJXHMDttyPJKDuTlmxJlwbSkojudK/CkRqKDOmeSbN6KLrGdrBQnT2n" crossorigin="anonymous"></script>



	</body>
</html>