<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="include/head"/><head>
<style type="text/css">
   	.btn-success {
	  background-color: #6FB70F !important;
	  border-color: #6FB70F !important;
	}
    .btn-success:hover,
    .btn-success:active,
    .btn-success:visited,
    .btn-success:focus {
      background-color: #6FB70F !important;
      border-color: #6FB70F !important;
    }  
/* body{
    margin: 0;
    padding: 0;
} */
   
   /*
   .headerImg {
         margin-top: 3px;  
        margin-left: 2rem; 
        background-image: url("/image/catalog/41/trouser4.png");
        width: 100%; 
        height: 300px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
  } */
  /*.headerImg h1{
    font-size: 40px;
    font-weight: 700px;
    color: #6FB70F;
    margin-left: 4rem;
    margin-top: 115px;
  } */
/*   html, body{
   margin: 0;
   height: 100%;
  }
   */
  

   /*
   .banner{
    margin-top: 3px;
    margin-left: 3rem;
    margin-right: 2rem;
     position: relative;
      height: 53vh;
     overflow: hidden;
     
   justify-content: center;
    color: #fff;
  } 
  .banner:after{
     content:'';
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
  } 
   .banner:before{
    content: '';
    width: 120vh;
    height: 53.5%;
     position: absolute;
     top: 0;
    left: 0;
    
      -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility: hidden;
     backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    -moz-transform: translateZ(0) scale(1.0,1.0);
    -ms-transform: translateZ(0) scale(1.0,1.0);
    -o-transform: translatZ(0) scale(1.0,1.0);
    transform: translateZ(0) scale(1.0,1.0); 
    background-image: url("/image/catalog/41/trouser4.png");
     -webkit-background-size:cover;
       background-size: cover; 
       background-attachment: fixed;
      animation: increase 60s linear 10ms infinite;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
    z-index: -2; 
  } 
   .banner-text{
   width: 100%;
   padding: 5% 10% 0 10%;
   text-align: center;
  }
  .banner-text h4{
    text-transform: uppercase;
    font-size: 20px;
      background-color: rgba(0,0,0,0.5);
 
    background-color: white;
     padding: 15px;
  } 
   @keyframes increase{
    0%{ transform: scale(1)}
    100%{transform:scale(1.5)}
  }*/
  
</style>
<body style="background-color: #e8e8e8;">	
    <!--header-->
    <div th:replace="include/navbar"></div>
	<div th:replace="include/headerMenu"></div>
    <div th:replace="include/categoryType"></div>
	
    	<!--Service-->
	<div  class="products-tab-area mt-45 mt-sm-45">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-3 col-md-3 pr-0">
						<div class="section-title">
							<h3>Service </h3>
						</div>
					</div>
				
				</div>
				<div class="tab-content">
					 <div id="service" class="tab-pane fade in show active">
						<div class="row product-carousel cv-visible">
							<div class="col-lg-12" data-th-each="product : ${serviceList}">
								<div class="product-single" style="background-color: white !important;">
									<div class="product-title">
                                       <h4 th:text="${#strings.abbreviate(product.name,20)}"></h4>
                                    </div>
									<div class="product-thumb">
										<a href="#">
										   <img width="100%" height="150rem"
							                    class="img-responsive"
							                    th:src="@{${product.imagePath1}}" alt=""
							                           th:data-id          = "${product.id}"
													   th:data-name        = "${product.name}"
												       th:data-detail      = "${product.detail}"
												       th:data-upprice     = "${product.upPrice}"
												       th:data-price       = "${product.price}"
												       th:data-quantity    = "${product.quantity}"												            
												       th:data-category    = "${product.subCategory.category.name}"
												       th:data-subcategory = "${product.subCategory.name}"
												       th:data-deliveryprice = "${product.deliveryPrice}"																						       
												       th:data-image1      = "@{${product.imagePath1}}"
												       th:data-image2      = "@{${product.imagePath2}}"
												       th:data-image3      = "@{${product.imagePath3}}"
												       th:data-image4      = "@{${product.imagePath4}}"
												       th:data-companyimage = "@{${product.user.company.imagePath}}"
												       th:data-companyname = "@{${product.user.company.name}}"
													 data-toggle="modal" data-target="#quickViewModal"
							                    /> 
										 </a>
											<div class="downsale"><span th:text="${product.downsale}"></span></div>
												<div class="product-quick-view">
													<a href="javascript:void(0);"
							                           th:data-id          = "${product.id}"													
													   th:data-name        = "${product.name}"
												       th:data-detail      = "${product.detail}"
												       th:data-upprice     = "${product.upPrice}"
												       th:data-price       = "${product.price}"
												       th:data-quantity    = "${product.quantity}"												       												      
												       th:data-category    = "${product.subCategory.category.name}"
												       th:data-subcategory = "${product.subCategory.name}"
												       th:data-deliveryprice = "${product.deliveryPrice}"																			       
												       th:data-image1      = "@{${product.imagePath1}}"
												       th:data-image2      = "@{${product.imagePath2}}"
												       th:data-image3      = "@{${product.imagePath3}}"
												       th:data-image4      = "@{${product.imagePath4}}"
												       th:data-companyimage = "@{${product.user.company.imagePath}}"
												       th:data-companyname = "@{${product.user.company.name}}"												       
													 data-toggle="modal" data-target="#quickViewModal">Vue rapide</a>
												</div>
									</div>
									<div id="sewing" class="product-price-rating">
										<div class="pull-left">
											<span th:text="${product.price}+' XOF'"></span><br/>
											<del th:text="${product.upPrice}+ ' XOF'"> </del>
										</div>
									</div>
					
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--End Service-->
	
	
	
	<!--sewing-->
	<div class="products-tab-area mt-45 mt-sm-45" style="margin-top: 23%;">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-3 col-md-3 pr-0">
						<div class="section-title">
							<h3>Couture </h3>
						</div>
					</div>
				</div>
				<div class="tab-content">
					 <div class="tab-pane fade in show active">
						<div class="row product-carousel cv-visible">
							<div class="col-lg-12" data-th-each="product : ${sewingList}">
								<div class="product-single" style="background-color: white !important;">
									<div class="product-title">
                                       <h4 th:text="${#strings.abbreviate(product.name,20)}"></h4>
                                    </div>
									<div class="product-thumb">
										<a href="#">
										   <img width="100%" height="150rem"
							                    class="img-responsive"
							                    th:src="@{${product.imagePath1}}" alt=""
							                           th:data-id          = "${product.id}"
													   th:data-name        = "${product.name}"
												       th:data-detail      = "${product.detail}"
												       th:data-upprice     = "${product.upPrice}"
												       th:data-price       = "${product.price}"
												       th:data-quantity    = "${product.quantity}"												            
												       th:data-category    = "${product.subCategory.category.name}"
												       th:data-subcategory = "${product.subCategory.name}"	
												       th:data-deliveryprice = "${product.deliveryPrice}"														       
												       th:data-image1      = "@{${product.imagePath1}}"
												       th:data-image2      = "@{${product.imagePath2}}"
												       th:data-image3      = "@{${product.imagePath3}}"
												       th:data-image4      = "@{${product.imagePath4}}"
												       th:data-companyimage = "@{${product.user.company.imagePath}}"
												       th:data-companyname = "@{${product.user.company.name}}"
													 data-toggle="modal" data-target="#quickViewModal"
							                    /> 
										 </a>
											<div class="downsale"><span th:text="${product.downsale}"></span></div>
												<div class="product-quick-view">
													<a href="javascript:void(0);"
							                           th:data-id          = "${product.id}"													
													   th:data-name        = "${product.name}"
												       th:data-detail      = "${product.detail}"
												       th:data-upprice     = "${product.upPrice}"
												       th:data-price       = "${product.price}"
												       th:data-quantity    = "${product.quantity}"												       												      
												       th:data-category    = "${product.subCategory.category.name}"
												       th:data-subcategory = "${product.subCategory.name}"	
												       th:data-deliveryprice = "${product.deliveryPrice}"														       
												       th:data-image1      = "@{${product.imagePath1}}"
												       th:data-image2      = "@{${product.imagePath2}}"
												       th:data-image3      = "@{${product.imagePath3}}"
												       th:data-image4      = "@{${product.imagePath4}}"
												       th:data-companyimage = "@{${product.user.company.imagePath}}"
												       th:data-companyname = "@{${product.user.company.name}}"												       
													 data-toggle="modal" data-target="#quickViewModal">Vue rapide</a>
												</div>
									</div>
									<div id="hairdressing" class="product-price-rating">
										<div class="pull-left">
											<span th:text="${product.price}+' XOF'"></span><br/>
											<del th:text="${product.upPrice}+ ' XOF'"> </del>
										</div>
									</div>
					
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--End Sewing-->
		
		<!-- Hairdressing -->
		<div class="products-tab-area mt-45 mt-sm-45" style="margin-top: 23%;">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-3 col-md-3 pr-0">
						<div class="section-title">
							<h3>Coiffure </h3>
						</div>
					</div>
				
				</div>
				<div class="tab-content">
				 <div class="tab-pane fade in show active">
						<div class="row product-carousel cv-visible">
							<div class="col-lg-12" data-th-each="product : ${hairdressingList}">
								<div class="product-single" style="background-color: white !important;">
									<div class="product-title">
                                       <h4 th:text="${#strings.abbreviate(product.name,20)}"></h4>
                                    </div>
									<div class="product-thumb">
										<a href="#">
										   <img width="100%" height="150rem"
							                    class="img-responsive"
							                    th:src="@{${product.imagePath1}}" alt=""
							                           th:data-id          = "${product.id}"
													   th:data-name        = "${product.name}"
												       th:data-detail      = "${product.detail}"
												       th:data-upprice     = "${product.upPrice}"
												       th:data-price       = "${product.price}"
												       th:data-quantity    = "${product.quantity}"												            
												       th:data-category    = "${product.subCategory.category.name}"
												       th:data-subcategory = "${product.subCategory.name}"		
												       th:data-deliveryprice = "${product.deliveryPrice}"												       
												       th:data-image1      = "@{${product.imagePath1}}"
												       th:data-image2      = "@{${product.imagePath2}}"
												       th:data-image3      = "@{${product.imagePath3}}"
												       th:data-image4      = "@{${product.imagePath4}}"
												       th:data-companyimage = "@{${product.user.company.imagePath}}"
												       th:data-companyname = "@{${product.user.company.name}}"
													 data-toggle="modal" data-target="#quickViewModal"
							                    /> 
										 </a>
											<div class="downsale"><span th:text="${product.downsale}"></span></div>
												<div class="product-quick-view">
													<a href="javascript:void(0);"
							                           th:data-id          = "${product.id}"													
													   th:data-name        = "${product.name}"
												       th:data-detail      = "${product.detail}"
												       th:data-upprice     = "${product.upPrice}"
												       th:data-price       = "${product.price}"
												       th:data-quantity    = "${product.quantity}"												       												      
												       th:data-category    = "${product.subCategory.category.name}"
												       th:data-subcategory = "${product.subCategory.name}"	
												       th:data-deliveryprice = "${product.deliveryPrice}"												       
												       th:data-image1      = "@{${product.imagePath1}}"
												       th:data-image2      = "@{${product.imagePath2}}"
												       th:data-image3      = "@{${product.imagePath3}}"
												       th:data-image4      = "@{${product.imagePath4}}"
												       th:data-companyimage = "@{${product.user.company.imagePath}}"
												       th:data-companyname = "@{${product.user.company.name}}"												       
													 data-toggle="modal" data-target="#quickViewModal">Vue rapide</a>
												</div>
									</div>
									<div id="carpentry" class="product-price-rating">
										<div class="pull-left">
											<span th:text="${product.price}+' XOF'"></span><br/>
											<del th:text="${product.upPrice}+ ' XOF'"> </del>
										</div>
									</div>
					
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--End hairdressing -->
		<!-- Carpentry -->
		<div class="products-tab-area mt-45 mt-sm-45" style="margin-top: 23%;">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-3 col-md-3 pr-0">
						<div class="section-title">
							<h3>Ménuiserie </h3>
						</div>
					</div>
				
				</div>
				<div class="tab-content">
				 <div class="tab-pane fade in show active">
						<div class="row product-carousel cv-visible">
							<div class="col-lg-12" data-th-each="product : ${carpentryList}">
								<div class="product-single" style="background-color: white !important;">
									<div class="product-title">
                                       <h4 th:text="${#strings.abbreviate(product.name,20)}"></h4>
                                    </div>
									<div class="product-thumb">
										<a href="#">
										   <img width="100%" height="150rem"
							                    class="img-responsive"
							                    th:src="@{${product.imagePath1}}" alt=""
							                           th:data-id          = "${product.id}"
													   th:data-name        = "${product.name}"
												       th:data-detail      = "${product.detail}"
												       th:data-upprice     = "${product.upPrice}"
												       th:data-price       = "${product.price}"
												       th:data-quantity    = "${product.quantity}"												            
												       th:data-category    = "${product.subCategory.category.name}"
												       th:data-subcategory = "${product.subCategory.name}"	
												       th:data-deliveryprice = "${product.deliveryPrice}"													       
												       th:data-image1      = "@{${product.imagePath1}}"
												       th:data-image2      = "@{${product.imagePath2}}"
												       th:data-image3      = "@{${product.imagePath3}}"
												       th:data-image4      = "@{${product.imagePath4}}"
												       th:data-companyimage = "@{${product.user.company.imagePath}}"
												       th:data-companyname = "@{${product.user.company.name}}"
													 data-toggle="modal" data-target="#quickViewModal"
							                    /> 
										 </a>
											<div class="downsale"><span th:text="${product.downsale}"></span></div>
												<div class="product-quick-view">
													<a href="javascript:void(0);"
							                           th:data-id          = "${product.id}"													
													   th:data-name        = "${product.name}"
												       th:data-detail      = "${product.detail}"
												       th:data-upprice     = "${product.upPrice}"
												       th:data-price       = "${product.price}"
												       th:data-quantity    = "${product.quantity}"												       												      
												       th:data-category    = "${product.subCategory.category.name}"
												       th:data-subcategory = "${product.subCategory.name}"	
												       th:data-deliveryprice = "${product.deliveryPrice}"														       
												       th:data-image1      = "@{${product.imagePath1}}"
												       th:data-image2      = "@{${product.imagePath2}}"
												       th:data-image3      = "@{${product.imagePath3}}"
												       th:data-image4      = "@{${product.imagePath4}}"
												       th:data-companyimage = "@{${product.user.company.imagePath}}"
												       th:data-companyname = "@{${product.user.company.name}}"												       
													 data-toggle="modal" data-target="#quickViewModal">Vue rapide</a>
												</div>
									</div>
									<div id="grossery" class="product-price-rating">
										<div class="pull-left">
											<span th:text="${product.price}+' XOF'"></span><br/>
											<del th:text="${product.upPrice}+ ' XOF'"> </del>
										</div>
									</div>
					
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Carpentry -->
		
		<!-- grossery -->
		<div class="products-tab-area mt-45 mt-sm-45" style="margin-top: 23%;">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-3 col-md-3 pr-0">
						<div class="section-title">
							<h3>Episserie </h3>
						</div>
					</div>
				
				</div>
				<div class="tab-content">
				 <div class="tab-pane fade in show active">
						<div class="row product-carousel cv-visible">
							<div class="col-lg-12" data-th-each="product : ${grosseryList}">
								<div class="product-single" style="background-color: white !important;">
									<div class="product-title">
                                       <h4 th:text="${#strings.abbreviate(product.name,20)}"></h4>
                                    </div>
									<div class="product-thumb">
										<a href="#">
										   <img width="100%" height="150rem"
							                    class="img-responsive"
							                    th:src="@{${product.imagePath1}}" alt=""
							                           th:data-id          = "${product.id}"
													   th:data-name        = "${product.name}"
												       th:data-detail      = "${product.detail}"
												       th:data-upprice     = "${product.upPrice}"
												       th:data-price       = "${product.price}"
												       th:data-quantity    = "${product.quantity}"												            
												       th:data-category    = "${product.subCategory.category.name}"
												       th:data-subcategory = "${product.subCategory.name}"		
												       th:data-deliveryprice = "${product.deliveryPrice}"														       
												       th:data-image1      = "@{${product.imagePath1}}"
												       th:data-image2      = "@{${product.imagePath2}}"
												       th:data-image3      = "@{${product.imagePath3}}"
												       th:data-image4      = "@{${product.imagePath4}}"
												       th:data-companyimage = "@{${product.user.company.imagePath}}"
												       th:data-companyname = "@{${product.user.company.name}}"
													 data-toggle="modal" data-target="#quickViewModal"
							                    /> 
										 </a>
											<div class="downsale"><span th:text="${product.downsale}"></span></div>
												<div class="product-quick-view">
													<a href="javascript:void(0);"
							                           th:data-id          = "${product.id}"													
													   th:data-name        = "${product.name}"
												       th:data-detail      = "${product.detail}"
												       th:data-upprice     = "${product.upPrice}"
												       th:data-price       = "${product.price}"
												       th:data-quantity    = "${product.quantity}"												       												      
												       th:data-category    = "${product.subCategory.category.name}"
												       th:data-subcategory = "${product.subCategory.name}"	
												       th:data-deliveryprice = "${product.deliveryPrice}"																	       
												       th:data-image1      = "@{${product.imagePath1}}"
												       th:data-image2      = "@{${product.imagePath2}}"
												       th:data-image3      = "@{${product.imagePath3}}"
												       th:data-image4      = "@{${product.imagePath4}}"
												       th:data-companyimage = "@{${product.user.company.imagePath}}"
												       th:data-companyname = "@{${product.user.company.name}}"												       
													 data-toggle="modal" data-target="#quickViewModal">Vue rapide</a>
												</div>
									</div>
									<div id="mechanic" class="product-price-rating">
										<div class="pull-left">
											<span th:text="${product.price}+' XOF'"></span><br/>
											<del th:text="${product.upPrice}+ ' XOF'"> </del>
										</div>
									</div>
					
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--End grossery -->
		<!-- mechanics -->
		<div class="products-tab-area mt-45 mt-sm-45" style="margin-top: 23%;">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-3 col-md-3 pr-0">
						<div class="section-title">
							<h3>Mécanique </h3>
						</div>
					</div>
				
				</div>
				<div class="tab-content">
				 <div class="tab-pane fade in show active">
						<div class="row product-carousel cv-visible">
							<div class="col-lg-12" data-th-each="product : ${mechanicList}">
								<div class="product-single" style="background-color: white !important;">
									<div class="product-title">
                                       <h4 th:text="${#strings.abbreviate(product.name,20)}"></h4>
                                    </div>
									<div class="product-thumb">
										<a href="#">
										   <img width="100%" height="150rem"
							                    class="img-responsive"
							                    th:src="@{${product.imagePath1}}" alt=""
							                           th:data-id          = "${product.id}"
													   th:data-name        = "${product.name}"
												       th:data-detail      = "${product.detail}"
												       th:data-upprice     = "${product.upPrice}"
												       th:data-price       = "${product.price}"
												       th:data-quantity    = "${product.quantity}"												            
												       th:data-category    = "${product.subCategory.category.name}"
												       th:data-subcategory = "${product.subCategory.name}"		
												       th:data-deliveryprice = "${product.deliveryPrice}"												       
												       th:data-image1      = "@{${product.imagePath1}}"
												       th:data-image2      = "@{${product.imagePath2}}"
												       th:data-image3      = "@{${product.imagePath3}}"
												       th:data-image4      = "@{${product.imagePath4}}"
												       th:data-companyimage = "@{${product.user.company.imagePath}}"
												       th:data-companyname = "@{${product.user.company.name}}"
													 data-toggle="modal" data-target="#quickViewModal"
							                    /> 
										 </a>
											<div class="downsale"><span th:text="${product.downsale}"></span></div>
												<div class="product-quick-view">
													<a href="javascript:void(0);"
							                           th:data-id          = "${product.id}"													
													   th:data-name        = "${product.name}"
												       th:data-detail      = "${product.detail}"
												       th:data-upprice     = "${product.upPrice}"
												       th:data-price       = "${product.price}"
												       th:data-quantity    = "${product.quantity}"												       												      
												       th:data-category    = "${product.subCategory.category.name}"
												       th:data-subcategory = "${product.subCategory.name}"		
												       th:data-deliveryprice = "${product.deliveryPrice}"       
												       th:data-image1      = "@{${product.imagePath1}}"
												       th:data-image2      = "@{${product.imagePath2}}"
												       th:data-image3      = "@{${product.imagePath3}}"
												       th:data-image4      = "@{${product.imagePath4}}"
												       th:data-companyimage = "@{${product.user.company.imagePath}}"
												       th:data-companyname = "@{${product.user.company.name}}"												       
													 data-toggle="modal" data-target="#quickViewModal">Vue rapide</a>
												</div>
									</div>
									<div id="repair" class="product-price-rating">
										<div class="pull-left">
											<span th:text="${product.price}+' XOF'"></span><br/>
											<del th:text="${product.upPrice}+ ' XOF'"> </del>
										</div>
									</div>
					
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End mechanics -->
		<!-- repair -->
		<div class="products-tab-area mt-45 mt-sm-45" style="margin-top: 23%;">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-3 col-md-3 pr-0">
						<div class="section-title">
							<h3>Réparation</h3>
						</div>
					</div>
				
				</div>
				<div class="tab-content">
					 <div class="tab-pane fade in show active">
						<div class="row product-carousel cv-visible">
							<div class="col-lg-12" data-th-each="product : ${repairList}">
								<div class="product-single" style="background-color: white !important;">
									<div class="product-title">
                                       <h4 th:text="${#strings.abbreviate(product.name,20)}"></h4>
                                    </div>
									<div class="product-thumb">
										<a href="#">
										   <img width="100%" height="150rem"
							                    class="img-responsive"
							                    th:src="@{${product.imagePath1}}" alt=""
							                           th:data-id          = "${product.id}"
													   th:data-name        = "${product.name}"
												       th:data-detail      = "${product.detail}"
												       th:data-upprice     = "${product.upPrice}"
												       th:data-price       = "${product.price}"
												       th:data-quantity    = "${product.quantity}"												            
												       th:data-category    = "${product.subCategory.category.name}"
												       th:data-subcategory = "${product.subCategory.name}"	
												       th:data-deliveryprice = "${product.deliveryPrice}"													       
												       th:data-image1      = "@{${product.imagePath1}}"
												       th:data-image2      = "@{${product.imagePath2}}"
												       th:data-image3      = "@{${product.imagePath3}}"
												       th:data-image4      = "@{${product.imagePath4}}"
												       th:data-companyimage = "@{${product.user.company.imagePath}}"
												       th:data-companyname = "@{${product.user.company.name}}"
													 data-toggle="modal" data-target="#quickViewModal"
							                    /> 
										 </a>
											<div class="downsale"><span th:text="${product.downsale}"></span></div>
												<div class="product-quick-view">
													<a href="javascript:void(0);"
							                           th:data-id          = "${product.id}"													
													   th:data-name        = "${product.name}"
												       th:data-detail      = "${product.detail}"
												       th:data-upprice     = "${product.upPrice}"
												       th:data-price       = "${product.price}"
												       th:data-quantity    = "${product.quantity}"												       												      
												       th:data-category    = "${product.subCategory.category.name}"
												       th:data-subcategory = "${product.subCategory.name}"
												       th:data-deliveryprice = "${product.deliveryPrice}"	       
												       th:data-image1      = "@{${product.imagePath1}}"
												       th:data-image2      = "@{${product.imagePath2}}"
												       th:data-image3      = "@{${product.imagePath3}}"
												       th:data-image4      = "@{${product.imagePath4}}"
												       th:data-companyimage = "@{${product.user.company.imagePath}}"
												       th:data-companyname = "@{${product.user.company.name}}"												       
													 data-toggle="modal" data-target="#quickViewModal">Vue rapide</a>
												</div>
									</div>
									<div class="product-price-rating">
										<div class="pull-left">
											<span th:text="${product.price}+' XOF'"></span><br/>
											<del th:text="${product.upPrice}+ ' XOF'"> </del>
										</div>
									</div>
					
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End repair -->  




	<!-- JS  -->
		
<script th:src="@{/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
	<!-- jquery-3.3.1 version -->
	<script th:src="@{/assets/js/vendor/jquery-3.2.1.min.js}"></script>
	<!-- bootstra.min js -->
	<script th:src="@{/assets/js/bootstrap.min.js}"></script>
	<!-- mmenu js -->
	<script th:src="@{/assets/js/jquery.mmenu.js}"></script>
	<!-- easing js -->
	<script th:src="@{/assets/js/jquery.easing.min.js}"></script>
	<!---slick-js-->
	<script th:src="@{/assets/js/slick.min.js}"></script>
	<!---letteranimation-js-->
	<script th:src="@{/assets/js/letteranimation.min.js}"></script>
	<!-- jquery-ui js -->
	<script th:src="@{/assets/js/jquery-ui.min.js}"></script>
	<!-- jquery.countdown js -->
	<script th:src="@{/assets/js/jquery.countdown.min.js}"></script>
	<!-- venobox js -->
	<script th:src="@{/assets/js/venobox.min.js}"></script>
	<!-- plugins js -->
	<script th:src="@{/assets/js/plugins.js}"></script>
	<!-- main js -->
	<script th:src="@{/assets/js/main.js}"></script>	
    <script>
    var productId;
    $(document).ready(function(){
    	$("#quickViewModal").modal({
            keyboard: true,
            backdrop: "static",
            show: false,
            
        }).on("show.bs.modal", function(event){
        	var button        = $(event.relatedTarget);
        	var id            = button.data("id");
            var name          = button.data("name");
            var detail        = button.data("detail");
            var upprice       = button.data("upprice");
            var price         = button.data("price");
            var category      = button.data("category");
            var quantity      = button.data("quantity");
            var subcategory   = button.data("subcategory");
            var deliveryprice = button.data("deliveryprice");
            var image1        = button.data('image1');
            var image2        = button.data('image2');
            var image3        = button.data('image3');
            var image4        = button.data('image4');
            var detail        = button.data("detail");
            var companyname   = button.data('companyname');
            var companyimage  = button.data('companyimage');
            
            $(this).find("#id").html($("<b> " +id+ "</>"));
            $(this).find("#name").html($("<b> " + name +"</b>"));
            $(this).find("#detail").html($("<li> " + detail +"</li>"));
            $(this).find("#upprice").html($("<b> " + upprice +"</b>"));
            $(this).find("#price").html($("<b> " + price +"</b>"));
            $(this).find("#category").html($("<span>" + category +"</span> "));
            $(this).find("#subcategory").html($("<span>" + subcategory +"</span> "));
            $(this).find("#quantity").html($("<span> " + quantity +"</span>"));
            $(this).find("#deliveryprice").html($("<b> " + deliveryprice   + " FCFA"  + "</b>"));
            $(this).find("#image1").attr("src", image1);
            $(this).find("#image2").attr("src", image2);
            $(this).find("#image3").attr("src", image3);
            $(this).find("#image4").attr("src", image4);
            $(this).find("#companyimage").attr("src", companyimage);
            $(this).find("#companyname").html($("<span>" + companyname + "</span>"));
            productId=id;

        })
    });
    function bookNow(){
    	
    	$.ajax({
			type: "GET",
	        contentType: "application/json",
	        url: '/booking/product?product_id='+productId,
	        data: {},
	        dataType: 'json',
	        cache: false,
	        timeout: 600000,
	        success: function (data) {
	              window.location.href = data.name+'/booking/add/'+data.id;
	        },
	        error: function (e) {
	            console.log("ERROR : ", e);
	        }
		});  
     }
</script>


 

<script type="text/javascript">
  function sendProductId(id){
		$.ajax({
			type: "GET",
	        contentType: "application/json",
	        url: '/product/sendProductId?id='+id,
	        data: {},
	        dataType: 'json',
	        cache: false,
	        timeout: 600000,
	        success: function (data) {
                $('#productId').html(data.id);
	        },
	        error: function (e) {
	            console.log("ERROR : ", e);
	        }
		});
  }
  
 
</script>

<script type="text/javascript">
function changeImage(a){
    var idImage    = a.id;
    var image = a.src;
	$.ajax({
		type: "GET",
        contentType: "application/json",
        url: '/product/changeImage?image='+image,
        data: {},
        dataType: 'json',
        cache: false,
        timeout: 600000,
        success: function (data) {
        	$("#image1").attr("src",data.brand);    
        },
        error: function (e) {
            console.log("ERROR : ", e);
        }
	});
 } 
</script>
<script type="text/javascript">
   function companyImage(a){  
	 var image = a.src;
	 $.ajax({
			type: "GET",
	        contentType: "application/json",
	        url: '/company/companyImage?image='+image,
	        data: {},
	        dataType: 'json',
	        cache: false,
	        timeout: 600000,
	        success: function (data) {
              window.location.href = data.name+'/company/info/'+data.id;
	        },
	        error: function (e) {
	            console.log("ERROR : ", e);
	        }
		});
	}  
</script> 



	<div class="modal fade quickViewModal" id="quickViewModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-4">
							<div class="tab-content">
								<div id="product-1" class="tab-pane fade in show active">
									<div class="product-details-thumb">
										<img id="image1" alt=""
										 onClick="changeImage(this)" />
									</div>
								</div>
							</div>
							<ul class="nav nav-tabs products-nav-tabs horizontal quick-view mt-10" >
								<li><a data-toggle="tab">
							      	  <img id="image2"
							      	     alt=""  onClick="changeImage(this)"
							      	  />
							      	</a>
							    </li>
								<li>
								   <a data-toggle="tab" href="#product-3">
								     <img id="image3" alt="" onClick="changeImage(this)" />
								   </a>
								</li>
								<li>
								   <a data-toggle="tab" href="#product-4">
								     <img id="image4" alt="" onClick="changeImage(this)"/>
								   </a>
								</li>
							</ul>
						</div>
						<div class="col-lg-8">
							<div class="row">
								<div class="col-lg-8">
									<div class="product-details-desc">
									   <h2 id="name"></h2>
										<ul id="detail">
										   <li></li>
										</ul>
										<div class="product-meta">
											<ul class="list-none">
<!-- 												<li>SKU: 00012 <span>|</span></li>
 -->												<li>Categorie:
													<a href="#" id="category"></a>
												<!-- 	<a href="#">Macbook</a>
													<a href="#">Laptop</a> -->
<!-- 													<span>|</span>
 -->												</li>
											 	<li>Tag:
													<a href="#" id="subcategory"></a>
<!-- 													<a href="#">Apple</a>
 -->												</li> 
											</ul>
										</div>
								<!-- 		<div class="social-icons style-5">
											<span>Partager sur:</span>
											<a href="#"><i class="fa fa-facebook"></i></a>
											<a href="#"><i class="fa fa-twitter"></i></a>
											<a href="#"><i class="fa fa-google-plus"></i></a>
											<a href="#"><i class="fa fa-rss"></i></a>
										</div> -->
										<div class="social-icons style-5" style="cursor: pointer;">
										  <span>Compagnie:</span>
										  <span>
										      <img id="companyimage" width="10%;" alt=""  onClick="companyImage(this)">
										  </span>                                          
										</div> 
									</div>
								</div>
								<div class="col-lg-4">
									<div class="product-action stuck text-left">
										<div class="home-delivery">
											<a  onClick="bookNow()" style="cursor: pointer;"><i class="ti-truck"></i> Livraison à domicile</a>
										</div>
										<div class="product-price-rating">
										 	<div>
												<del id="upprice"> </del>
											</div> 
											<span id="price"> </span>
										<!-- 	<div class="pull-right">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star-o"></i>
											</div> -->
										</div>
										<div class="product-colors mt-20">
											<label>	Quantité disponible:</label>
											<span id="quantity"></span>
											
										</div>
									 	<div class="product-quantity mt-15">
											<label>Livraison:</label>
											<span id="deliveryprice"></span>
										</div> 
										<div class="add-to-get mt-2">
											<a  onClick="bookNow()" style="cursor: pointer;"  class="btn btn-success">
											   <span style="color: white;">
												  <i class="fa fa-shopping-cart" 
									               ></i>
												    Acheter maintenant										    
											   </span>
											 </a>
 										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!--footer-area start-->
	<footer th:replace="include/footer"></footer>
	
		<!--footer-area end-->

</body>
</html>