<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header"/>

<body>
<div th:replace="common/header :: navbar"></div>

<div class="container">
    	<div class="row">
          <div th:replace="front/store/left"></div>		 
		  <div class="col-sm-7">
				<div class="box-body">
					<ol class="breadcrumb">
						<li>
						   <a th:href="@{/stores/storeList}"> 
					            <span class="text-warning">Retourner &agrave; la  liste des magasins</span>
					        </a>
		                </li>
		                <li><a th:href="@{/stores/products?store_id=}+${store.id}">Liste des produits du magasin</a></li>
					</ol>
				</div>
		       

     			<h5>Magasin <span style="color:#db3208;"><span th:text="${store.name}"> </span></span></h5>
		          <a th:href="@{/stores/products?store_id=}+${store.id}">
		              <img class="img-responsive shelf-book" style="width:94%; height:400px; margin-top: 10px;" 
		      	       th:src="@{${store.logoPath}}"/>
		          </a>
		  </div>
		  <div class="col-sm-2">
		    <div class="btn-group-vertical" style="margin-top: 90px;">
		       <img class="img-responsive img-circle" style="width: 100px; height: 120px; margin-left: 65px;"
		        th:src="@{${store.user.imagePath}}"/>


               <p class="text-muted text-center" style="color: blue;margin-top: 14px;">
                   <span th:text="${store.user.lastName}"></span>
    		       <span th:text="${store.user.firstName}"></span> 
                </p>
		       
			  <button type="button" class="btn btn-warning" style="color:black;border:1px solid black; padding: 10px 40px 10px 40px;"
				   th:attr="data-publisher = ${store.user.id}"				   
                   data-toggle="modal"
                   data-target="#contactPublisher"		
				>
			     <i class="fa fa-phone"> Contacter le magasinier</i>
			  </button>
			  <button type="submit" class="btn btn-primary" style="margin-top:8px; color:black;border:1px solid black; padding: 10px 40px 10px 40px;"
			     th:attr="data-publisher = ${store.user.id}"				   
                   data-toggle="modal"
                   data-target="#emailPublisher"	
			  >
				 <i class="fa fa-envelope-square"> Contacter par e-mail</i>
			     
			   </button>
			   
			     <a th:href="@{https://api.whatsapp.com/send?phone=}+${store.user.phone}"> 
			        <button type="submit" class="btn btn-success"
				      style="margin-top:8px; color:black;border:1px solid black; padding: 10px 40px 10px 40px;">
					  <i class="fa fa-whatsapp" aria-hidden="true"> Contacter par whatsapp</i>
				    </button>
				  </a> 
			   
			    <!--   <a th:href="https://api.whatsapp.com/send?phone=221778042681&text=hi&source=&data="> 
			        Contact par whatsapp
				  </a>  -->
				
			</div> 
		  </div>
		</div>
    	<div class="row" style="margin-top: 10px;margin-left: 186px;">
    		<div class="col-xs-10">
    			<h3 class="text-warning text-left">
    			   <span th:if="${store.storetype.id == 1}">Magasin commercial</span>
        	       <span th:if="${store.storetype.id == 2}">Magasin multiservice</span>
    			</h3>
    			<div class="row">	
    				<div class="col-xs-9">
    					<div class="panel panel-default" style="border-width: 5px;width: 106%;">
    						<div class="panel-body">
    							<div class="row col-xs-12">
    								<div class="container">
     								 <p><strong>Slogan: </strong><span th:text="${store.slogan}"></span></p>
 				    				 <p><strong>Manager: </strong><span th:text="${store.manager}"></span></p>
				    				 <p><strong>Date de publication: </strong><span th:text="${store.publicationDate}"></span></p>	
				    					<h5><strong>Heure d'ouverture </strong><span th:text="${store.start}"></span></h5>
				    					<h5><strong>Heure de fermeture: </strong><span th:text="${store.end}"></span></h5>
				    				  <p><strong>Ville: </strong><span th:text="${store.town}"></span></p>
				    				  <p><strong>Quartier: </strong><span th:text="${store.district}"></span></p>
				       				  <p><strong>Adresse: </strong><span th:text="${store.address}"></span></p>
				    				  <p><strong>Date de publication: </strong><span th:text="${store.publicationDate}"></span></p>	
				    				</div> 
    							</div>
    						</div>
    					</div>
    				</div>	
    			</div>
    			<h5>D&eacute;tails</h5>
    			<hr/>
    			 	<div class="panel panel-default" style="border-width: 5px;width: 100%;">
   						<div class="panel-body">
   					    	<p th:utext="${store.detail}"></p>
   					    </div>
    				</div>
    		</div>
    	</div>

    
     <!--modal of contact of publisher  -->
     <div class="modal modal-danger fade" id="contactPublisher" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
           <div class="modal-dialog" role="document">
               <div class="modal-content">
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                       <h4 class="modal-title text-center" id="myModalLabel">
                       			     <i class="fa fa-phone"> Contacter le magasinier</i>
                       </h4>
                   </div>
                       
                   <div class="modal-body">
                       
                         <h3 style="text-align: center;">
                              <span th:text="${store.user.phone}"></span>
                         </h3>
                   </div>
                   <div class="modal-footer">
                   </div>
               </div>
           </div>
      </div>
      <!--End of modal of contact of publisher  -->
      
          <!--modal of email of publisher  -->
     <div class="modal modal-danger fade" id="emailPublisher" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
           <div class="modal-dialog" role="document">
               <div class="modal-content">
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                       <h4 class="modal-title text-center" id="myModalLabel">
                       <i class="fa fa-envelope-square"> Contacter le magasinier </i></h4>
                   </div>
                       
                   <div class="container">
                    <form th:action="@{/mail/sendToPublisher}" method="post">
                          <input required="required" type="hidden" class="form-control"
								    name="store_id" th:value="${store.id}"/> 
                    	   <input required="required" type="hidden" class="form-control"
								    name="emailReceiver" th:value="${store.user.email}"/>  
						  <div class="form-group">
								<label for="email">* Adresse Email: </label>
								<input required="required" type="email" class="form-control"
								    name="emailSender" />
						  </div>
						   <div class="form-group">
								<label for="message">* Message: </label>
								<textarea required="required" rows="7" class="form-control"
									 name="message" ></textarea>
						  </div>
		                  <div class="modal-footer">
		                       <button type="submit" class="btn btn-primary">Valider</button>    
		                  </div> 
                     </form>
                  </div>
                    </div>
            
           </div>
      </div>
      <!--End of modal of email of publisher  -->
      
</div>
<!-- end of container -->
<div th:replace="common/header :: footer">  </div>

<div th:replace="common/header :: body-bottom-scripts">  </div>
</body>
</html>
