<div class="col-xs-2">
  	<h3><label for="category">Magasin</label></h3>
	<div class="list-group" id="store">
		<a th:href="@{/stores/storeList}" th:classappend="${activeAll}? 'active'" class="list-group-item">Toutes les magasins</a>
		<a th:href="@{/stores/commercialList}" th:classappend="${activeCommercial}? 'active'" class="list-group-item">Magasins commerciaux</a>
		<a th:href="@{/stores/multiserviceList}" th:classappend="${activeMultiservice}? 'active'" class="list-group-item">Magasins multiservices</a>
	</div>   
</div>
	
