
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/headerDashboard :: common-header" />

<body>
	<div th:replace="common/headerDashboard :: navbar"></div>
	
	<div class="container">
		<div class="table-responsive">
			<table id="storeListTable" class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th><input th:id="selectAllCategories" type="checkbox" /></th>
						<th>Nom</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="category : ${categoryList}">
						<td>
						   <input hidden="hidden" name="id" th:value="${category.id}" />
						
						<input th:id="'selected'+${category.id}" class="checkboxCategory" type="checkbox" />
						</td>
						<td><a th:href="@{/category/categoryInfo(id=${category.id})}">
						  <span th:text="${category.name}"></span></a>
						</td>
						<td>
							<input hidden="hidden" name="id" th:value="${category.id}" />
							<button th:id="'oneCategory-'+${category.id}" class="btn btn-danger btn-xs delete-category" type="submit" value="delete" >
							<span class="fa fa-times"></span>Supprimer</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	<button th:id="deleteSelectedAllCategories" class="btn btn-danger ">Suppression S&eacute;lectionn&eacute;e</button>
	</div>
	
	<div th:replace="common/headerDashboard :: body-bottom-scripts"></div>
		

</body>
</html>
