<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/headerDashboard :: common-header" />

<body>
	<div th:replace="common/headerDashboard :: navbar"></div>
	<div class="container">
		<div>
			<ol class="breadcrumb">
				<li><a th:href="@{/ad/updateAd?id=}+${ad.id}">Editer</a></li>
			</ol>
		</div>
		<div class="row">
			<div class="col-xs-7">
				<div class="panel panel-default">
					<div class="panel-body">
					  <img class="img-responsive center-block" style="height: 350px;width: 100%;"
					            th:src="@{${ad.imagePath1}}" /> 			
					</div>
				</div>
			</div>
			<div class="col-xs-5">
			    <h4><strong>Type d'annonce: </strong><span th:text="${ad.type}"></span></h4>
				<div class="row">
				   	<div class="panel panel-default" style="border-width: 5px;width: 100%;">
   						<div class="panel-body">
   						  <!--  	<div class="col-xs-6">	
								<p><strong>Annonceur: </strong><span th:text="${ad.user.lastName}"></span>
								  <span th:text="${ad.user.firstName}"></span>
								 </p>
								 <p><strong>T&eacute;l&eacute;phone: </strong><span th:text="${ad.user.phone}"></span>
								 </p>
								 <p><strong>Email: </strong><span th:text="${ad.user.email}"></span>
								 </p>
								<p><strong>Date de publication: </strong><span th:text="${ad.publicationDate}"></span></p>
   						   </div> -->
			               <h4><strong><span> Contacts</span></strong></h4>
			               <hr/>
   						   <p><strong>Telephone: </strong> <span th:text="${ad.phone}"></span> </p>
						   <p><strong>Email: </strong><span th:text="${ad.email}"></span></p>
						   <p><strong>Facebook: </strong><a><span style="cursor: pointer;" th:text="${ad.facebook}" ></span></a></p>
						   <p><strong>Instagram: </strong><a><span style="cursor: pointer;" th:text="${ad.instagram}"> </span></a></p>	
   					    </div>
   					    
		          	</div>          
				</div>
			</div>
		</div>
		<hr/>
	   <div class="panel panel-default" style="border-width: 5px;width: 100%;">
		   <div class="panel-body">  
				<Strong style="color: black;">Description: </Strong><br/> <br/>
                <span th:utext="${ad.description}"></span>
		   </div>
	   </div>  
	   <div class="row">
			<div class="col-xs-6">
				<div class="panel panel-default">
					<div class="panel-body">
					  <img class="img-responsive center-block" style="height: 350px;width: 100%;"
					            th:src="@{${ad.imagePath2}}" /> 
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="panel panel-default">
					<div class="panel-body">
					  <img class="img-responsive center-block" style="height: 350px;width: 100%;"
					            th:src="@{${ad.imagePath3}}" /> 
					</div>
				</div>
			</div>
	    </div> 
	    <div class="row">
			<div class="col-xs-6">
				<div class="panel panel-default">
					<div class="panel-body">
					  <img class="img-responsive center-block" style="height: 350px;width: 100%;"
					            th:src="@{${ad.imagePath4}}" /> 
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="panel panel-default">
					<div class="panel-body">
					  <img class="img-responsive center-block" style="height: 350px;width: 100%"; 
					            th:src="@{${ad.imagePath5}}" /> 
					</div>
				</div>
			</div>
	    </div>
	</div>
	<div th:replace="common/headerDashboard :: body-bottom-scripts"></div>
		
</body>
</html>
