<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/headerNewCompany :: common-header" />

<body>
	<div th:replace="common/headerNewCompany :: navbar"></div>
       	<div class="container">
		  <div class="row">
			<form class="form-horizontal" th:action="@{/company/add/service}" method="post"
				enctype="multipart/form-data">
 				    <div class="alert alert-danger text-black" role="alert">
					   Veuillez ajouter les informations de votre
					    <span th:if="${userRole3}">Service</span>
					    <span style="font-size: small"> * Champ obligatoire</span>
					</div>	 		
					<!-- Basic info -->
					<fieldset>
					   <legend><span style="font-size: small;">Informations de base</span></legend>
					</fieldset>
				    <div th:if="${userRole3}" class="form-group">
						<label class="col-md-2 control-label">* Selectionner le type de service</label>
						<div class="col-md-8">
							<select name="subCategory_id" class="form-control">
						       <option data-th-each="subCategory : ${subCategoryList}" th:value="${subCategory.id}" th:text="${subCategory.name}">
						       </option>
						    </select>
						</div>
				    </div>
					<div class="form-group">
 						<label class="col-md-2 control-label" for="name">*
 							Nom</label>
						<div class="col-md-6">
							<input
							   type="text" name="name" required="required"
								class="form-control" id="name" placeholder="Precisier le nom" />
						
							<span class="help-block">Nom</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="town">* Ville</label>
							<div class="col-md-6">
								<input
									type="text" name="town" required="required"
									class="form-control" id="town" placeholder="Precisier la ville" />
							<span class="help-block">Ville</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="district">* Quartier</label>
						<div class="col-md-6">
							<input
								type="text" name="district" required="required"
								class="form-control" id="district" placeholder="Precisier le quartier" />
							<span class="help-block">Quartier</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label" for="address">* Adresse</label>
						<div class="col-md-6">
								<input
									type="text" name="address" required="required"
									class="form-control" id="address" placeholder="Precisier l'adresse" />
							<span class="help-block">Adresse exacte</span>
						</div>
					</div>
			        <div class="form-group">
						<label class="col-md-2 control-label" for="description">* Description</label>
						<div class="col-md-6">
							<textarea rows="7"
							    name="description" required="required"
								class="form-control" id="description" placeholder="Precisier la description"></textarea>
							<span class="help-block">Description</span>
						</div>
					</div> 			
                 	<!-- upload logo or company photo -->
					<div class="form-group">
						 <label class="col-md-2 control-label" for="description">* Logo ou photo</label>
                         <div class="col-md-6">
                           <p>
                               <img alt="Visualiser le logo ou la photo" id="thumbnail0"/>
                            </p>
                            <div class="col-xs-3">
                                <input type="file"
                                   name="extraImageFile" required="required" accept="image/png, image/jpeg" /> 
                            </div>
                          </div>
				    </div>
				    <fieldset>
				      <legend><span style="font-size: small">Contacts</span></legend>
				          <div class="form-group">
							<label class="col-md-2 control-label" for="phone">* Telephone</label>
							<div class="col-md-6">
								<input
								    type="text" name="phone" required="required"
									class="form-control" id="phone" placeholder="Precisier le numero de telephone" />
								<span class="help-block">Numero de telephone</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" for="email">* Email</label>
							<div class="col-md-6">
								<input
									type="email" name="email" required="required"
									class="form-control" id="email" placeholder="Precisier l'email" />
								<span class="help-block">Email</span>
							</div>
						</div>
				       <div class="form-group">
							<label class="col-md-2 control-label">* Whatsapp</label>
							<div class="col-md-6">
								<input
									type="text" name="whatsapp" required="required"
									class="form-control" id="whatsapp" placeholder="Precisier le numero whatsapp" />
								<span class="help-block">Whatsapp</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" > Facebook</label>
							<div class="col-md-6">
								<input
									type="text" name="facebook" 
									class="form-control" id="facebook" placeholder="Precisier le lien Facebook" />
								<span class="help-block">Facebook</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label"> Instagram</label>
							<div class="col-md-6">
								<input
									type="text" name="instagram" 
									class="form-control" id="instagram" placeholder="Precisier le lien Instagram" />
								<span class="help-block">Instagram</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label"> Twitter</label>
							<div class="col-md-6">
								<input
									type="text" name="twitter" 
									class="form-control" id="twitter" placeholder="Precisier le lien Twitter" />
								<span class="help-block">Twitter</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label"> Linkedin</label>
							<div class="col-md-6">
								<input
									type="text" name="linkedin" 
									class="form-control" placeholder="Precisier le lien Linkedin" />
								<span class="help-block">Linkedin</span>
							</div>
						</div>     
				    </fieldset>
				    <fieldset>
				      <legend><span style="font-size: small;">Localisation</span></legend>
				       	<!-- upload location 1 Face View -->
				      <div class="form-group">
						 <label class="col-md-2 control-label">*Photo Vue de face</label>
                         <div class="col-md-6">
                           <p>
                               <img alt="Visualiser la localisation Vue de face" id="thumbnail1"/>
                            </p>
                            <div class="col-xs-3">
                                <input type="file" 
                                   name="extraImageFile" required="required" accept="image/png, image/jpeg" /> 
                            </div>
                          </div>
				      </div>
				             	<!-- upload location 2 Far View -->
				      <div class="form-group">
						 <label class="col-md-2 control-label">*Photo Vue de loin</label>
                         <div class="col-md-6">
                           <p>
                               <img alt="Visualiser la localisation Vue de loin" id="thumbnail2"/>
                            </p>
                            <div class="col-xs-3">
                                <input type="file"
                                   name="extraImageFile" required="required" accept="image/png, image/jpeg" /> 
                            </div>
                          </div>
				      </div>
				    </fieldset>
				    
					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<button type="submit" class="btn btn-success">Valider</button>
<!-- 							<a class="btn btn-danger" th:href="@{/}">Annuler</a>
 -->						</div>
					</div>
 			</form>
		</div>
	</div>
	<div th:replace="common/headerDashboard :: body-bottom-scripts"></div>
		<script type="text/javascript">
		$(document).ready(function() {
		   /* 	
			$('#mainImage').change(function(){
				showImageThumbnail(this);
			}); */ 
			
			$("input[name='extraImageFile']").each(function(index){
				$(this).change(function(){
					showExtraImageThumbnail(this,index);
				});
			});
			function showImageThumbnail(fileInput){
				file = fileInput.files[0];
				reader = new FileReader();
				
				reader.onload = function(e){
					$('#thumbnail').attr('src',e.target.result);
				}
				reader.onload = function(e){
					$('#thumbnail1').attr('src',e.target.result);
				}
				reader.onload = function(e){
					$('#thumbnail2').attr('src',e.target.result);
				}
				reader.readAsDataURL(file);
			}
			
			function showExtraImageThumbnail(fileInput,index){
				file = fileInput.files[0];
				reader = new FileReader();
				
				reader.onload = function(e){
					$('#thumbnail'+index).attr('src',e.target.result);
				}
				reader.readAsDataURL(file);
			}
			
		})
	</script>
</body>
</html>
