
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">	
 <style type="text/css">
 	.btn-success {
	  background-color: #6FB70F !important;
	  border-color: #6FB70F !important;
	}
   .btn-success:hover,
    .btn-success:active,
    .btn-success:visited,
    .btn-success:focus {
      background-color: #6FB70F !important;
      border-color: #6FB70F !important;
    }
 </style>
 <body style="background-color: #e8e8e8;">
 
	  <div class="container col-lg-12">

		<div class="col-lg-12">

             <span style="color: red;" th:utext="${message}"></span>

			<div class="col-sm-4">
				<a href="/">Go back to upload more file</a><br/>

			</div>
		<!-- 	<div class="col-sm-4">
			
		     Download File here : <a href = "${downloadurl}" target = "_blank">${downloadurl}  </a>
			</div>
			 -->
		</div>
	</div>

	
	</body>
</html>